{% include text/center_section_title.html
  text='HOW TO APPLY'
%}

{% capture left_text_one %}
  <p>The grants are structured around three one-week engagements among Digital Humanities Lab staff and the recipient(s) that cover the following phases of a project: requirements drafting, design, and development. For projects that only need design or only need development, the award timeline would be adjusted accordingly.

  <p><strong>Requirements Document</strong> This stage is all about articulating and confirming the deliverable that will be built. During this stage, the recipient commits to meeting with the Lab team once at the beginning of the week to review the Lean Canvas and Ideation forms that accompanied the application. A second meeting will be required at the end of the week to sign off on a wireframe that will depict the requirements of the project. The recipient's signature is required before work will advance.</p>

  <p><strong>Design</strong> During the design phase, the Lab will iterate on different views of the application based on the signed wireframe. The recipient commits to meeting once during the middle of the week to review mockups and select one finalized mockup to be implemented.</p>

  <p><strong>Development</strong> In this final phase, the Lab will build the deliverable based on the design from week two. The recipient commits to meeting once during the middle of the week for an update on the work and to consult on any questions that have arisen.</p>

  <p>By the end of the grant, recipients will have both the agreed-upon project feature and also experience with the production workflow that underlies many digital humanities projects.</p>

{% endcapture %}

{% capture right_text_one %}
<ul>
    <li>Yale graduate students and faculty in the <a href='https://fas.yale.edu/academic-units/divisions-and-school/division-humanities' target='_blank'>Humanities</a> (African American Studies, American Studies, Classics, Comparative Literature, East Asian Languages and Literatures, English, Film and Media Studies, French, Germanic Languages and Literatures, History, History of Art, Humanities Program, Italian, Music, Near Eastern Languages and Civilizations, Philosophy, Religious Studies, Slavic Languages and Literatures, Spanish and Portuguese, Theater Studies, Women’s, Gender, and Sexuality Studies, Cognitive Science, Ethnicity, Race, and Migration, History of Science, Medicine, and Public Health, and Judaic Studies), and Yale librarians/curators who are working on a digital humanities project are eligible to apply for one Rapid Prototyping Grant per year.</li>
    <li>Recipients commit to creating a brief write-up of the project within one month of the completion of the grant that may be used on a DHLab project flyer and/or posted on the DHLab's website and social media.</li>
    <li>Recipients must be on campus during the grant period.</li>
  </ul>
{% endcapture %}

{% capture right_text_two %}
  <p>Rapid Prototyping Grant applications require the following information:</p>
  <ul>
    <li>Name of applicant(s)</li>
    <li>Department/unit and affiliation</li>
    <li>Project proposal, not to exceed 250 words. The proposal should provide:</li>
    <ul>
      <li>An overview of the project's aims and unique methodological and research contributions</li>
      <li>A detailed description of the feature that would be implemented during the grant period</li>
      <li>A statement of your familiarity with the technical requirements of the project</li>
    </ul>
  </ul>
  <ul>
    <li>A completed <a href='{{site.baseurl}}/assets/docs/DH-LeanCanvas.pdf' target='_blank'>Lean Canvas</a>, designed to articulate project goals</li>
    <li>A completed <a href='{{site.baseurl}}/assets/docs/DH-Ideation.pdf' target='_blank'>Ideation form</a>, intended to help concentrate and visualize ideas</li>
    <li>Optional but recommended: screenshots of or links to one or two examples of projects that have aspects of what you're hoping to achieve.</li>
  </ul><br/>
  <p>If you have any questions or would like to discuss your ideas in advance of the application deadline, please <a href='mailto:dhlab@yale.edu'>email the DHLab</a> to set up a meeting. The current cycle is closed.</p>
  <!--<a href='{{ include.page.application_url }}' target='_blank' class='white-button'>Apply Here</a>-->
{% endcapture %}

{% include text/color_blocks.html
  left_title_one='Grant Process'
  left_text_one=left_text_one

  right_title_one='Eligibility'
  right_text_one=right_text_one

  right_title_two='Application Requirements'
  right_text_two=right_text_two
%}
