{% include text/center_section_title.html
  text='HOW TO APPLY'
%}

{% capture left_text_one %}
  <p>Yale undergraduates, graduate students, and library staff are eligible to apply. These scholarships cannot be awarded for training opportunities that are fully funded without the scholarship, and you may only receive one DHLab Training Scholarship per year.</p>

  <p>If awarded a scholarship, you will be expected to give an informal presentation in the Digital Humanities Lab that summarizes what you learned so that others can benefit from your experience.</p>
{% endcapture %}


{% capture right_text_one %}
<p>Applications ask for the following information:</p>
<ul>
  <li>Name, department, and Yale affiliation (for example: undergraduate student)</li>
  <li>Name of the institute</li>
  <li>Specific course you plan to take</li>
  <li>A brief statement of how the course will help you in your research</li>
  <li>Other sources of funding you have received or expect to receive (scholarships, travel funds, etc.)</li>
</ul>
<!--<a href='{{ include.page.application_url }}' target='_blank' class='white-button'>Apply Here</a>-->
{% endcapture %}

{% include text/color_blocks.html
  left_title_one='Eligibility'
  left_text_one=left_text_one

  right_title_one='Application Requirements'
  right_text_one=right_text_one
%}
