{% include text/center_section_title.html
  text='HOW TO APPLY'
%}

{% capture left_text_one %}
  <p>Yale undergraduates, graduate students, faculty, and library staff are eligible to apply.</p>
{% endcapture %}

{% capture right_text_one %}
<p>Applications entail short abstracts that detail the proposed event, identify any speaker(s), specify what the $500 award would cover, and mention the intended audience and outcomes.</p>
{% endcapture %}

{% include text/color_blocks.html
  left_title_one='Eligibility'
  left_text_one=left_text_one

  right_title_one='Application Requirements'
  right_text_one=right_text_one
%}
