---
layout: default
class: about-page
title: About
---

{% capture caption %}
  Father Roberto Busa at Yale on September 24, 1956. The image shown here is kindly made available under a Creative Commons CC-BY-NC license by permission of CIRCSE Research Centre, Università Cattolica del Sacro Cuore, Milan, Italy. For further information or to request permission for reuse, please contact Marco Passarotti by <a href='mailto:marco.passarotti@unicatt.it'>email</a> or by post: Largo Gemelli 1, 20123 Milan, Italy.
{% endcapture %}

{% assign image_url = '/assets/images/about/busa.png' | prepend: site.baseurl %}
{% include heroes/captioned_hero.html
  label='About'
  title='Who We Are'
  caption=caption
  image=image_url
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column' role='main'>
      {% include text/mobile_section_title.html
        category='About'
        title='Who We Are'
      %}
      <h1>Our Mission</h1>
      <p>The Digital Humanities Laboratory (DHLab), a unit of Yale University Library, offers space, community, and resources for Yale scholars who pursue DH research questions in the arts, humanities, and humanistic social sciences. Located inside Sterling Memorial Library, the Franke Family Digital Humanities Laboratory is a hub for consultations, training, and opportunities that support Yale students, faculty, and cultural heritage professionals in their engagement with digital tools and techniques. As part of the Yale University Library, the DHLab participates in global conversations around the analysis and use of large-scale digitized cultural heritage collections. </p>
      <p>We embrace a model of DH that is expressive and interpretive, experimental and collaborative, and above all: user-centered. As a result, we support DH undertakings of all shapes and sizes, including but not limited to: creating digital text editions, building virtual exhibitions, performing analysis of all kinds (text, network, spatial), data visualization, metadata transformation, creating StoryMaps for humanists, developing machine learning algorithms, and more.</p>
      <h1>Our Guiding Principles</h1>
      <ol>
        <li>The DHLab is a shared resource designed for researchers asking humanistic questions at Yale that creates prototypes, proofs-of-concept, and sustainable DH products.</li>
        <li>The DHLab provides expertise in identifying and obtaining external support for DH projects, including advising on the application process and technical implementation details.</li>
        <li>The DHLab supports digital humanities skills acquisition for research through consultations, training, and guest lectures.</li>
        <li>The DHLab supports both initial digital humanities project ideation and innovative new directions for existing projects.</li>
        <li>The DHLab develops open-source software to facilitate user-centered approaches to humanistic research and collection-scale analysis.</li>
      </ol>

      <h1>Our Partners and Collaborators</h1>
      <p>The DHLab collaborates with other Yale units and departments, along with external organizations to fulfill our mission. These include:
        <ul>
          <li>Other units within Yale University Library, including the StatLab, GIS services, and the Department of Area Studies and Humanities Research Support</li>
          <li>The Poorvu Center for Teaching and Learning</li>
          <li>The Center for Collaborative Arts and Media</li>
          <li>Yale Center for Research Computing</li>
          <li>Yale Pathways to the Arts & Humanities, as well as Yale Pathways to the Sciences</li>
          <li>Yale Center for Engineering Innovation and Design</li>
          <li>The Institute for the Preservation of Cultural Heritage</li>
        </ul>
      </p>

      <h1>A Brief History</h1>
      <p>Yale's roots in digital humanities undertakings date back (at least) to Father Roberto Busa's visit to our campus in 1956 and the Computers for the Humanities conference that was sponsored by Yale on a grant from IBM in 1965.</p>
      <p>The 2015 founding of the DHLab signifies Yale University's continued commitment to advancing research and teaching in the humanities. Generously funded by <a href='https://news.yale.edu/2014/12/11/goizueta-foundation-supports-creation-digital-humanities-laboratory-yale' target='_blank'>The Goizueta Foundation</a> and by <a href='https://news.yale.edu/2018/10/04/new-home-yales-digital-humanities-lab-opens-sterling-library' target='_blank'>Barbara and Richard Franke '53</a>, the DHLab supports Yale scholars in their pursuit of humanistic questions by way of user-centered digital expression and computational methods.
      </p>
    </div>
  </div>

  {% include text/center_section_title.html
    text='OUR CORE TEAM'
    id='team'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','core_team' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    <p>Digital Humanities Consultants provide a variety of DH project support, and offer research guidance to Yale faculty, staff, and students during Office Hours.</p>
  {% endcapture %}

  {% capture right_text %}
    <p>Are you a Yale graduate student interested in humanistic questions and in building professional experience and expertise on digital humanities projects in a client-facing role? Starting in Fall 2023, the Yale DHLab welcomes applicants to our DH Consultant positions.</p>
  {% endcapture %}

  {% assign right_button_url = '/awards/student-jobs.html' | prepend: site.baseurl %}

  <div class='tablet-center'>
    {% include text/bottom_text_about.html
      left_title = 'Digital Humanities Consultants'
      left_text = left_text

      right_title = 'Work With Us'
      right_text = right_text
      right_button_url = right_button_url
      right_button_label = 'Student Jobs'
    %}
  </div>

  {% include text/center_section_title.html
    text='OUR GENERALIST CONSULTANTS'
    id='generalists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','generalist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% include text/center_section_title.html
    text='OUR SPECIALIST CONSULTANTS'
    id='specialists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','specialist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>
</div>
