---
layout: default
class: about-page
title: About
---

{% capture caption %}
  Father Roberto Busa at Yale on September 24, 1956. The image shown here is kindly made available under a Creative Commons CC-BY-NC license by permission of CIRCSE Research Centre, Università Cattolica del Sacro Cuore, Milan, Italy. For further information or to request permission for reuse, please contact Marco Passarotti by <a href='mailto:marco.passarotti@unicatt.it'>email</a> or by post: Largo Gemelli 1, 20123 Milan, Italy.
{% endcapture %}

{% assign image_url = '/assets/images/about/busa.png' | prepend: site.baseurl %}
{% include heroes/captioned_hero.html
  label='About'
  title='The Yale Digital Humanities Laboratory'
  caption=caption
  image=image_url
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='About'
        title='The Yale Digital Humanities Laboratory'
      %}
      <p>The 2015 founding of the Yale University Library Digital Humanities Laboratory (DHLab) signifies the University's continued commitment to cutting-edge research and teaching in the humanities. Offering space, community, and resources within the Library for Yale researchers who are working with digital methods to pursue humanistic inquiries, the DHLab functions as a hub on campus for digital humanities resarch and teaching. Staff are available to consult at any stage in a project, from conceptualization through implementation.</p>
      <p>Yale's roots in digital humanities undertakings date back (at least) to Father Roberto Busa's visit to our campus in 1956 and the Computers for the Humanities conference that was sponsored by Yale on a grant from IBM in 1965. Stop by the lab to read through the conference proceedings and see what has and hasn't changed in discussions of the field!</p>
      <p>Generously funded by the Goizueta Foundation, the DHLab is committed to advancing science, technology, engineering, the arts, and mathematics (STEAM) teaching and research at Yale. In addition to facilitating cross-disciplinary collaborations on campus, the DHLab also promotes faculty and student initiatives that reach beyond the University to engage wider publics.</p>
      <p>The DHLab is a part of <a href='http://web.library.yale.edu/sd/dept/digital-scholarship-services' target='_blank'>Digital Scholarship Services</a> within Yale University Library, a group which also includes the <a href='http://statlab.stat.yale.edu/' target='_blank'>StatLab</a> and support for Research Data.</p>
    </div>
  </div>

  {% include text/center_section_title.html
    text='OUR TEAM'
    id='team'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','core_team' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    <p>Project Assistants collaborate on digital humanities research undertaken by Yale faculty and students.</p>
    {% include about/personnel_list.html items=site.data.assistants.left %}
  {% endcapture %}

  {% capture right_text %}
    <p>Consultants meet with Yale scholars who are working with quantitative or computational methods.</p>
    {% include about/personnel_list.html items=site.data.assistants.right %}
    <br/>
    <h2>Work With Us</h2>
    <p>Are you a programmer or designer interested in working in digital humanities? <a href='mailto:dhlab@yale.edu'>Contact us</a> for information on becoming a DHLab Assistant and explore our Student Job Openings.</p>
  {% endcapture %}

  {% assign left_button_url = '/projects.html' | prepend: site.baseurl %}
  {% assign right_button_url = '/opportunities/student-jobs.html' | prepend: site.baseurl %}

  <div class='tablet-center'>
    {% include text/half-width/two_column_text.html
      left_title = 'Project Assistants'
      left_text = left_text
      left_button_url = left_button_url
      left_button_label = 'View Projects'

      right_title = 'Consultants'
      right_text = right_text
      right_button_url = right_button_url
      right_button_label = 'Student Jobs'
    %}
  </div>
</div>
