---
layout: default
class: awards-page full-width-mobile
header_color: gray
---

<div class='center-column'>
  {% capture text %}
    Lorem ipsum dolor sit amet, nullam ut potenti mauris, eu nisl aenean volutpat sodales, luctus accumsan lacus a, pede ipsum amet, a turpis. Lorem et auctor nulla, aliquet netus eget consectetuer lacus ullamcorper. Molestie id porta, morbi etiam tellus molestie nunc id, quam ad neque ultrices.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Awards'
    text=text
  %}

  {% include text/center_section_title.html
    text='FUNDING'
  %}

  {% capture left_text_one %}
    <p>Lorem ipsum dolor sit amet, turpis odio molestie, lobortis faucibus pharetra et orci auctor, scelerisque sodales turpis ante congue velit eros, orci in, est pulvinar condimentum mi egestas. Arcu curabitur est rutrum inceptos, voluptatem elit lorem, lacus tempor mattis elit penatibus urna, aut cursus quis in et mus.</p>
    <p>Eget sollicitudin risus arcu atque ut, ligula suspendisse nunc pulvinar mi. Sit sit egestas metus proin at. Augue hymenaeos magna leo mauris mollis mi. Augue id justo sit ligula urna ullamcorper, magna facilisi neque, vestibulum et nonummy, nulla elit lorem blandit, tincidunt ut cras suscipit lacinia mauris. Est torquent diam suscipit et purus.</p>
    <a href='{{ site.baseurl }}/awards/rapid-prototyping.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture left_text_two %}
    <p>Lorem ipsum dolor sit amet, turpis odio molestie, lobortis faucibus pharetra et orci auctor, scelerisque sodales turpis ante congue velit eros, orci in, est pulvinar condimentum mi egestas. Arcu curabitur est rutrum inceptos, voluptatem elit lorem, lacus tempor mattis elit penatibus urna, aut cursus quis in et mus.</p>
    <p>Eget sollicitudin risus arcu atque ut, ligula suspendisse nunc pulvinar mi. Sit sit egestas metus proin at. Augue hymenaeos magna leo mauris mollis mi. Augue id justo sit ligula urna ullamcorper, magna facilisi neque, vestibulum et nonummy, nulla elit lorem blandit, tincidunt ut cras suscipit lacinia mauris. Est torquent diam suscipit et purus.</p>
    <a href='{{ site.baseurl }}/awards/dh-training-scholarship.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_one %}
    <p>Lorem ipsum dolor sit amet, turpis odio molestie, lobortis faucibus pharetra et orci auctor, scelerisque sodales turpis ante congue velit eros, orci in, est pulvinar condimentum mi egestas. Arcu curabitur est rutrum inceptos, voluptatem elit lorem, lacus tempor mattis elit penatibus urna, aut cursus quis in et mus.</p>
    <p>Eget sollicitudin risus arcu atque ut, ligula suspendisse nunc pulvinar mi. Sit sit egestas metus proin at. Augue hymenaeos magna leo mauris mollis mi. Augue id justo sit ligula urna ullamcorper, magna facilisi neque, vestibulum et nonummy, nulla elit lorem blandit, tincidunt ut cras suscipit lacinia mauris. Est torquent diam suscipit et purus.</p>
    <a href='{{ site.baseurl }}/awards/seed-grant.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_two %}
    <p>Lorem ipsum dolor sit amet, turpis odio molestie, lobortis faucibus pharetra et orci auctor, scelerisque sodales turpis ante congue velit eros, orci in, est pulvinar condimentum mi egestas. Arcu curabitur est rutrum inceptos, voluptatem elit lorem, lacus tempor mattis elit penatibus urna, aut cursus quis in et mus.</p>
    <p>Eget sollicitudin risus arcu atque ut, ligula suspendisse nunc pulvinar mi. Sit sit egestas metus proin at. Augue hymenaeos magna leo mauris mollis mi. Augue id justo sit ligula urna ullamcorper, magna facilisi neque, vestibulum et nonummy, nulla elit lorem blandit, tincidunt ut cras suscipit lacinia mauris. Est torquent diam suscipit et purus.</p>
    <a href='{{ site.baseurl }}/awards/additional-funding.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Rapid Prototyping Grant'
    left_text_one=left_text_one

    left_title_two='DH Training Scholarship'
    left_text_two=left_text_two

    right_title_one='Seed Grant'
    right_text_one=right_text_one

    right_title_two='Additional Funding'
    right_text_two=right_text_two
  %}

  {% assign items = site.projects | limit: 3 %}
  {% include grids/three_spaced_squares.html
    items=items
    label='FUNDED PROJECTS'
  %}
</div>