---
layout: default
class: awards-page full-width-mobile
header_color: gray
title: Programs
---

<div class='center-column' role='main'>
  {% capture text %}
  <p>The Digital Humanities Lab (DHLab) works on a wide range of projects with staff, student, and faculty researchers within the Yale campus and beyond, and is uniquely positioned to support graduate student professional development through existing project partnerships.</p>

  <p>To explore how the DHLab could support your research, please visit our <a href='{{ site.baseurl }}/propose-a-project.html'>project proposal page</a>.</p>
  
  <p>To learn more about our graduate student development programs, please read below.</p>
  
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Partner with Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='PROGRAMS'
  %}

  {% capture left_text_one %}
  <p>The DHLab welcomes graduate students to complete our Digital Humanities Certificate. After attending our DH Foundations workshop, certificate students will consult with DHLab staff to choose a total of six experiences (satisfied through a personalized combination of coursework, training, and/or project work) in order to demonstrate digital humanities competencies across four possible themes.</p>
    <a href='{{ site.baseurl }}/awards/certificate.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_one %}
    <p>Graduate students are invited to apply for the DHLab’s digital dissertation fellowship, which will provide a stipend, space, community, mentorship, and mini-grant funding for relevant training and development costs for students building a digital dissertation component. Please check back in spring 2024 for details about how to apply.</p>
    <a href='{{ site.baseurl }}/awards/dissertation-fellowship.html'
      class='white-button'>Learn More</a>
  {% endcapture %}


  {% include text/color_blocks.html
    left_title_one='Digital Humanities Certificate'
    left_text_one=left_text_one

    right_title_one='Digital Dissertation Fellowship'
    right_text_one=right_text_one
  %}

</div>
