---
layout: default
class: awards-page full-width-mobile
header_color: gray
title: Awards
---

<div class='center-column'>
  {% capture text %}
    The Digital Humanities Lab supports a number of funding opportunities to help advance digital scholarship at Yale. If you study or work at the university and are interested in funding opportunities, please read more below.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Awards'
    text=text
  %}

  {% include text/center_section_title.html
    text='FUNDING'
  %}

  {% capture left_text_one %}
    <p>Rapid Prototyping Grants are for focused design and development interventions to help a project get started or to add an innovative feature to an existing project. The grant may involve up to one week of project consulting, application design, and software development.</p>
    <a href='{{ site.baseurl }}/awards/rapid-prototyping.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture left_text_two %}
    <p>The Digital Humanities Lab is pleased to announce a limited number of $500 Digital Humanities Training Scholarships. Yale graduate students, undergraduates, and library staff are eligible to apply. These scholarships support participation in week-long digital humanities workshops such as:
      <ul>
        <li><a href='http://www.dhsi.org/' target='_blank'>Digital Humanities Summer Institute (DHSI)</a></li>

        <li><a href='http://dhtraining.org/hilt/conferences/hilt-2018/' target='_blank'>Humanities Intensive Learning and Teaching (HILT)</a></li>

        <li><a href='https://digital.humanities.ox.ac.uk/' target='_blank'>Digital Humanities @ Oxford (DHOxSS)</a></li>

        <li><a href='https://www.eventbrite.ca/e/dhguelph-summer-workshops-2017-registration-30331640754' target='_blank'>DH @ Guelph</a></li>
      </ul>
    </p>
    <a href='{{ site.baseurl }}/awards/dh-training-scholarship.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_one %}
    <p>Seed Grants support individual or collaborative projects in their planning and implementation phases. The number of grants available each year will vary based on the number of received applications.</p>
    <a href='{{ site.baseurl }}/awards/seed-grant.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_two %}
    <p>In addition to the funding opportunities supported by the Digital Humanities Lab, there are a number of national and international funding sources that may be of interest to those working on digital humanities projects. The following list contains a short overview of these opportunities:
      <ul>
        <li><a href='https://www.neh.gov/divisions/odh' target='_blank'>NEH Office of Digital Humanities</a></li>

        <li><a href='http://www.acls.org/grants/Default.aspx?id=508' target='_blank'>ACLS Digital Innovation Fellowships</a></li>

        <li><a href='https://sloan.org/programs/digital-technology' target='_blank'>Alfred P. Sloan Foundation - Program on Digital Information Technology </a></li>

        <li><a href='http://www.artstor.org/content/digital-humanities-awards' target='_blank'>Artstor Digital Humanities Award</a></li>

        <li><a href='https://www.clir.org/fellowships/fellowships.html' target='_blank'>The Council on Library and Information Resources</a></li>

        <li><a href='http://www.iath.virginia.edu/other_fellows.html' target='_blank'>The Institute for Advanced Technology in the Humanities (IATH) - Visiting Fellowships</a></li>
      </ul>
    </p>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Rapid Prototyping Grants'
    left_text_one=left_text_one

    left_title_two='DH Training Scholarships'
    left_text_two=left_text_two

    right_title_one='Seed Grants'
    right_text_one=right_text_one

    right_title_two='Additional Funding'
    right_text_two=right_text_two
  %}

  {% include awards/funded_projects.html %}
</div>