---
title: Contact Us
layout: about
order: 3
image: /assets/images/banners/sterling.jpg
caption: >

---

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='Get Started'
        title=page.title
      %}

      <h3 class='subheading'>Where to Find Us</h3>
      <p>The Digital Humanities Lab is located within the heart of Yale University at Sterling Memorial Library on the third floor. During the summer of 2018, the DHLab will be moving to its new space on the first floor in the Franke Family Reading Room.</p>
      <p><a href='https://goo.gl/maps/d3mMYawJaoJ2' target='_blank'>Visit Us</a><br/>
        Sterling Memorial Library, Room 316<br/>
        120 High Street, New Haven, CT 06511<br/>
      </p>
      <p><a href='mailto:dhlab@yale.edu' target='_blank'>E-mail Us</a><br/>
      </p>

     <h3> Office Hours</h3>
     <p>Looking to start a digital project but don’t know where to begin? Need recommendations on programming languages or visualization fundamentals? Stop by the Digital Humanities Lab during open Office Hours to chat with our team over coffee. Office Hours provide a weekly opportunity to exchange ideas, discuss methods, and form connections with colleagues from different programs and departments.</p>
     <p>Tuesdays and Wednesdays, 2–4 pm<br/>
     Including summers</p>


     <h3> Consultations</h3>

      <p>The DHLab offers individual and group consultations for digital humanities projects at any stage of development. Staff address questions related to best practices, data management, corpus creation, visualizations, digital tools, and more. In addition to scheduled meetings, the DHLab also offers weekly Office Hours as another opportunity to discuss projects or general digital humanities ideas. <br/><a href='https://docs.google.com/forms/d/e/1FAIpQLSe4Lyo8EEdoiTLosfnmOUNEsZZToCD_n7dZ10ypCerw4diJGA/viewform?usp=sf_link' class='color-button' target='_blank'>Make an Appointment</a></p>

    </div>
  </div>
</div>