---
title: Contact Us
layout: about
order: 3
image: /assets/images/banners/franke-cube.jpg
caption: View of the special projects cube at the Franke Family Digital Humanities Laboratory. Photo by Mara Lavitt.

---

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/get-started_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='Get Started'
        title=page.title
      %}

      <h3 class='subheading'>Where to Find Us</h3>
      <p>Located within the heart of Yale University, the Franke Family Digital Humanities Laboratory (DHLab) can be found just off the main entrance to Sterling Memorial Library. The DHLab maintains the same hours as the Library.
      </p>
      <br/>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.898245373568!2d-72.93072034822566!3d41.31107717916941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7d9b6a8924c77%3A0xe34726675bd29432!2sSterling+Memorial+Library!5e0!3m2!1sen!2sus!4v1516807643324" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>
        Franke Family Digital Humanities Laboratory<br/>
        Sterling Memorial Library<br/>
        120 High Street, New Haven, CT 06511<br/>
      <a href='mailto:dhlab@yale.edu' class='color-button' target='_blank'>E-mail Us</a>
      </p>

     <h3>Visiting Us</h3>
     <p>Looking to start a digital project but don't know where to begin? Need recommendations on tools, techniques, and best practices? <a href="https://dhlab.yale.edu/resources/consultations.html">Schedule a consultation</a> with one of our staff members.</p>

    </div>
  </div>
</div>
