---
layout: default
class: events-page
header_color: gray
---

{% assign next_event = site.events | sort: 'date' | first %}
<div class='mobile mobile-hero background-image'
  style='background-image:url({{ next_event.image | prepend: site.baseurl }})'></div>

<div class='center-column'>
  <section>
    <h2>EVENTS CALENDAR</h2>
    <hr class='desktop' />
    {% include events/get_sorted_events.html %}
    {% for event in sorted_events reversed limit:3 %}
      {%- include cards/horizontal_card.html item=event -%}
    {% endfor %}
  </section>

  {% assign items = site.events | limit: 3 %}
  {% include text/three_text_blocks.html
    items=items
    label='ON CAMPUS'
  %}

  <section id='past-events' class='past-events'>
    <h2>PAST EVENTS</h2>
    <select id='categories'>
      <option value='ALL'>All Types</option>
    </select>
    <select id='tags'>
      <option value='ALL'>All Topics</option>
    </select>
    <hr/>
    <div id='previous-events-target'>
      {% include events/get_sorted_events.html %}
      {%- capture now %}{{ 'now' | date: '%d' | plus: 0 }}{% endcapture -%}
      {%- for event in sorted_events %}
        {%- if event.thumbnail %}
          {%- capture date %}{{ event.date | date: '%d' }}{% endcapture -%}
          {%- if date < now -%}
            <a href='{{ event.url | prepend: site.baseurl }}' class='past-event'
              data-categories='{{ event.categories | jsonify }}'
              data-tags='{{ event.tags | jsonify }}'>
              {% assign image_url = event.thumbnail | prepend: site.baseurl %}
              <div class='background-image'
                style='background-image: url({{ image_url }})'></div>
              <div class='title'>{{ event.title }}</div>
            </a>
          {%- endif -%}
        {%- endif %}
      {%- endfor %}
    </div>
  </section>
</div>