---
layout: default
class: events-page mobile-dark-header
header_color: gray
---

{% assign next_event = site.events | sort: 'date' | first %}

<div class='center-column'>
  <section>
    <div class='section-title'>EVENTS CALENDAR</div>
    <hr class='hide-tablet' />
    {% include events/get_future_events.html %}
    {% for item in future_events %}
      {%- include cards/horizontal_card.html item=item -%}
    {% endfor %}
  </section>

  {% assign items = site.events | limit: 3 %}
  {% include text/three_text_blocks.html
    items=items
    label='ON CAMPUS'
  %}

  {% include events/get_past_events.html %}
  {% assign items = past_events | sort: 'date' | reverse %}
  {% include grids/archive_grid.html
    items=past_events
    label='PAST EVENTS'
    render='json'
  %}
</div>