---
layout: default
class: events-page mobile-dark-header
header_color: gray
---

{% include events/get_future_events.html %}
{% if future_events.size > 0 %}
  {% assign class = 'future-events' %}
{% else %}
  {% assign class = 'no-future-events' %}
{% endif %}

<div class='center-column {{ class }}'>
  {% if future_events.size > 0 %}
    <section>
      <div class='section-title'>EVENTS CALENDAR</div>
      <hr class='hide-tablet' />
      {% for item in future_events %}
        {%- include cards/horizontal_card.html item=item -%}
      {% endfor %}
    </section>
  {% endif %}

  {% assign items = site.events | sort: 'date' | reverse | limit: 3 %}
  {% include text/three_text_blocks.html
    items=items
    label='UPCOMING/RECENT'
  %}

  {% include events/get_past_events.html %}
  {% assign items = past_events | sort: 'date' | reverse %}
  {% include grids/archive_grid.html
    items=past_events
    label='PAST EVENTS'
    render='json'
  %}
</div>