---
layout: default
class: guides-page full-width-mobile
header_color: gray
title: Getting Started
---

<div class='center-column' role='main'>
  {% capture text %}
    When preparing for a digital project, there are a wide range of factors to consider.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Start a Project'
    text=text
  %}

  {% include text/center_section_title.html
    text='GETTING STARTED'
  %}

  {% capture left_text_one %}
    <p>The best works in digital scholarship usually provide novel insight into a significant research question. This question is oftentimes key for grounding and guiding a digital project from conceptualization through implementation.</p>

    <p>If your research question can be stated as a prediction, try discussing that prediction with others in your field. If your prediction can be tested, ask yourself what data might allow you to test that hypothesis. If your question is more exploratory, try to clearly outline the explorations you want to make possible for yourself, other researchers, and/or the public. You might ask others in your field if those explorations seem potentially fruitful.</p>
  {% endcapture %}

  {% capture left_text_two %}
    <p>When starting a project, it's important that all team members have a clear understanding of the core project goals. To that end, we highly recommend drafting a formal overview of your goals. This overview should focus on what needs to be done, not on how those things will be done.</p>

    <p>Those who manage projects for a living often speak of a "minimum viable product" (MVP), or the minimal set of functionality that completes a project's fundamental requirements. If you haven't done so yet, try drafting your own idea of an MVP. Once your draft is complete, ask a colleague if there's anything more than can be removed. Iterating on this process over a period of time can help one identify the fundamental goals of the project.</p>
  {% endcapture %}

  {% capture right_text_one %}
    <p>Digital projects need digital data. When starting a digital project, it's helpful to start by collecting and cleaning all of your data before making any major decisions about what your project will look like.</p>

    <p>If you are interested in pursuing a digital project but don't have any data with which to work, visit the Digital Humanities Lab to explore some of the massive text and image collections we have available for research purposes.</p>
  {% endcapture %}

  {% capture right_text_two %}
    <p>Collaborators on a digital humanities project should have a shared, manageable timeline within which to complete the work. It's therefore helpful to sketch out early on an overview of all of your major project milestones along with the dates by which you need to achieve those milestones.</p>

    <p>If you're working toward a conference presentation, are on a grant cycle, or otherwise have a date by which you need to wrap up all project work, try working backwards with your timeline to determine whether your full project vision can be achieved in your available time. List all of your project goals along with conservative estimations of the time required for each. If you need help estimating timelines or identifying your project's core milestones, stop by the Digital Humanities Lab so we can discuss your project together!</p>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='What is your Research Question?'
    left_text_one=left_text_one

    left_title_two='What are your Project Goals?'
    left_text_two=left_text_two

    right_title_one='What is your Research Data?'
    right_text_one=right_text_one

    right_title_two='What is your Project Timeline?'
    right_text_two=right_text_two
  %}

  {% capture text %}
   Whether you're starting a week-long project for a class or a year-long project with federal funding, the components of successful digital projects are largely the same. 
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What is involved in creating a digital humanities project?'
    text=text
  %}

  {% include text/methods_guides_bottom.html %}
</div>