---
layout: default
class: guides-page full-width-mobile
header_color: gray
---

<div class='center-column'>
  {% capture text %}
    When preparing to create a digital project, there are a wide range of factors to consider. The guides below are meant to help researchers plan, manage, and build digital projects with success.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Start a Project'
    text=text
  %}

  {% include text/center_section_title.html
    text='THE BASICS'
  %}

  {% capture left_text_one %}
    <p>The best works in digital scholarship usually provide novel insight into a significant research question. It's therefore helpful to clarify your research question before embarking on a digital project.</p>

    <p>If your research question can be stated as a prediction, try discussing that prediction with others in your field. If your prediction can be tested, ask yourself what data might allow you to test that hypothesis. If your question is more exploratory, try and clearly outline the explorations you want to make possible, and ask others in your field if those explorations seem potentially fruitful.</p>
  {% endcapture %}

  {% capture left_text_two %}
    <p>When working with others on a project, it's important that all team members have a clear understanding of the core project goals. To that end, we highly recommend drafting a formal overview of your project goals at the start of a project. These goals should focus on what needs to be done, not on how those things will be done. For examples, try searching for "software requirements document".</p>

    <p>Those who manage projects for a living often speak of a "Minimal Viable Project"&emdash;or the minimal set of functionality that complete a project's fundamental requirements. If you haven't done so yet, try drafting your own idea of a minimal viable project. Once your draft is complete, try asking a colleague if there's anything more than can be removed. Iterating on this process over a period of time can help one identify the fundamental goals of their project.</p>
  {% endcapture %}

  {% capture right_text_one %}
    <p>Digital projects need digital data. When starting a digital project, it's therefore helpful to start by collecting and cleaning all of your data before making any major decisions about what your project will look like.</p>

    <p>If you are interested in pursuing a digital project but don't have any data with which to work, try stopping by the DHLab in 316 Sterling Memorial Library to explore some of the massive text and image collections we have available for research purposes!</p>
  {% endcapture %}

  {% capture right_text_two %}
    <p>When working with others on a digital project, it's important that everyone have a shared, manageable timeline within which to complete the project work. It's therefore helpful to sketch out an overview of all of your major project milestones and the dates by which you need to achieve those milestones.</p>

    <p>If you're working toward a conference presentation at the end of the project or have a date by which you need to wrap up all project work, try listing all of your project goals, estimating the time required for each, and working backwards to determine whether your full project vision can be achieved in your available time. If you need help estimating timelines or identifying your project's core milestones, stop by the lab so we can discuss your project together!</p>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='What is your Research Question?'
    left_text_one=left_text_one

    left_title_two='What are your Project Goals?'
    left_text_two=left_text_two

    right_title_one='What is your Research Data?'
    right_text_one=right_text_one

    right_title_two='What is your Project Timeline?'
    right_text_two=right_text_two
  %}

  {% capture text %}
    <div>Whether you're starting a week-long project for a class or a year-long project with federal funding, the components of successful digital projects are largely the same. The guides below outline some of the core elements of successful digital humanities projects.</div>
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What is involved in creating a digital humanities project?'
    text=text
  %}

  {% include text/center_section_title.html
    text='NEXT STEPS'
  %}

  {% assign top_left = site.guides | where: 'order', 0 | first %}
  {% assign top_right = site.guides | where: 'order', 1 | first %}
  {% assign bottom_left = site.guides | where: 'order', 2 | first %}
  {% assign bottom_right = site.guides | where: 'order', 3 | first %}

  {% include grids/four_rectangle_image_grid.html  
    top_left=top_left
    top_right=top_right
    bottom_left=bottom_left
    bottom_right=bottom_right
  %}

  {% include text/bottom_text_guides.html %}
</div>