---
layout: default
class: methods-page full-width-mobile hide-color-hr
header_color: gray
---

<div class='center-column'>
  {% capture text %}
    <div class='intro'>Digital Humanities at Yale sits between the humanities and computer science. Read on below to discover some of the most powerful tools and methods driving Digital Humanities research on campus.</div>
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What is Digital Humanities?'
    text=text
  %}

  {% include text/center_section_title.html text='START HERE' %}

  {% capture left_text_one %}
    <p>Combining exploratory cultural research with the massive scale of computer-driven research, Digital Humanities research at Yale offers a safe space to exeriment with new different techniques to pursue cultural research questions.</p>

    <p>As both a technical and theoretical enterprise, Digital Humanities touches on a wide range of extant scholarly techniques and disciplines. From Cyborg Studies to Computer Science, the range of scholarly disciplines that inform Digital Humanities research continues to grow.</p>

    <p>Leveraging a wide range of techniques from neural networks to 3d immersive realities, Digital Humanities projects at Yale bring innovative technologies to bear on long-standing historical and cultural questions.</p>
  {% endcapture %}

  {% capture right_text_one %}
    <p>When beginning a Digital Humanities project, it's important to start by clearly defining your research question, and then deciding how technology can best help you answer that question. Rather than push your data collection through one or more extant tools, it's helpful to clearly articulate your research question and then decide what kind of algorithmic approach (if any) can help you pursue that research question.</p>

    <p>If you need help clearly outlining your research questions or deciding whether algorithmic analysis can help you answer those research questions, feel free to stop by the Digital Humanities Lab during office hours on Tuesdays and Wednesdays from 2-4. We'll be happy to discuss your project and some of the methods and tools that might be appropriate for pursuing that project.</p>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='DH in Research and Practice'
    left_text_one=left_text_one

    right_title_one='Begin with a Question'
    right_text_one=right_text_one
  %}

  {% capture text %}
    <div class='intro'>Digital Humanities projects use a wide range of methods and appear in a variety of forms. Whether you want to create a graph for a course paper, build an interactive website, or develop custom software, the guides below outline some of the popular techniques used in Digital Humanities research.</div>
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What do DH projects look like?'
    text=text
  %}

  {% include text/center_section_title.html
    text='DH METHODS'
  %}

  {% assign top_left = site.methods | where: 'order', 0 | first %}
  {% assign top_right = site.methods | where: 'order', 1 | first %}
  {% assign bottom_left = site.methods | where: 'order', 2 | first %}
  {% assign bottom_right = site.methods | where: 'order', 3 | first %}

  {% include grids/four_rectangle_image_grid.html  
    top_left=top_left
    top_right=top_right
    bottom_left=bottom_left
    bottom_right=bottom_right
  %}

  {% include text/methods_guides_bottom.html %}
</div>