---
layout: default
class: news-page mobile-dark-header
header_color: gray
title: News
---

<div class='center-column'>
  <section aria-labelledby='Recent News'>
    <div class='filters'>
      <h3>WHAT'S NEW</h3>
      <select id='sort-by'>
        <option value='date' disabled selected>Sort by</option>
        <option value='date'>Date</option>
      </select>
      <select id='categories' aria-label='filter categories'>
        <option value='ALL'>All Types</option>
      </select>
      <select id='tags' aria-label='filter tags'>
        <option value='ALL'>All Topics</option>
      </select>
      <hr />
    </div>

    <!-- NEWS CARD -->
    {% include news/get_news_spotlight_top.html %}

    {% capture submit_news %}
      <div><b>Got Something To Share?</b></div>
      <div class='color-text'><b>Tell Us Your Story</b></div>
      <p>Tell us about your digital humanities project, an upcoming event we can help promote, or a funding opportunity. We'd love to share your stories about digital humanities at Yale.</p>
      <a href='{{ site.submit_news }}' class='color-text' target='_blank'><b>Submit News &raquo;</b></a>
    {% endcapture %}

    {% capture square_html %}
    <div class='news-card-square news-background hide-mobile'>
      {{ submit_news }}
    </div>
    {% endcapture %}

    {% capture button_prompt %}
    <div class='button-prompt'>
      Subscribe to receive the latest DHLab news and events.
    </div>
    <a href='{{ site.newsletter }}' class='color-button' target='_blank'>
      <b>Sign up for E-News</b>
    </a>
    {% endcapture %}
        {% include cards/news_card.html
          item=item
          square_html=square_html
          button_prompt=button_prompt
        %}
  </section>
        {% include json/jsonify_items.html items=site.news var='items' %}
</div>
