---
layout: default
class: news-page
header_color: gray
---

<div class='center-column'>
  <section>
    <h2>WHAT'S NEW</h2>
    <hr />

    <!-- NEWS CARD -->
    <div class='two-thirds-width-card large-card'>
      {% include get_featured_news.html %}

      {% capture square_html %}
      <div class='news-card-square news-background'>
        <div><b>Got Something To Share?</b></div>
        <div class='color-text'><b>Tell Us Your Story</b></div>
        <p>Tell us about your DH project, submit an event, or ask a question. We want to shaer your experiences in the digital humanities.</p>
        <a href='{{ site.baseurl }}#submit-news' class='color-text'><b>Submit News &raquo;</b></a>
      </div>
      {% endcapture %}

      {% capture button_prompt %}
      <div class='button-prompt'>
        Subscribe to receive the latest DHLab news and events.
      </div>
      <a href='{{ site.baseurl }}/guides.html' class='color-button'>
        <b>Sign up for E-News</b>
      </a>
      {% endcapture %}

      {% include cards/news_card.html
        item=item
        square_html=square_html
        button_prompt=button_prompt
      %}
    </div>
  </section>

  <section>
    {% assign counter = 0%}
    {% for item in site.news reversed %}
      {% if counter < 5 %}
        {% include cards/horizontal_card.html item=item %}
        {% assign counter = counter | plus: 1 %}
      {% endif %}
    {% endfor %}
  </section>
</div>
