---
layout: default
class: opportunities-page full-width-mobile
header_color: gray
title: Opportunities
---

<div class='center-column' role='main'>
  {% capture text %}
    The Digital Humanities Lab (DHLab) works on a wide range of projects with researchers, designers, and programmers within the Yale campus and beyond. Read below to learn more about the ways you can partner with the Lab on your next digital project!
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Work With Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='OPPORTUNITIES'
  %}

  {% capture left_text_one %}
    <p>The DHLab occasionally receives inquiries from Yale-led teams looking to hire students for digital projects. These requests state different levels of humanities and programming expertise. If you would like to be referred for one of these positions when they open up, please <a href='mailto:dhlab@yale.edu'>email the DHLab</a> your resume/CV, along with a brief statement of interest.</p>
    <a href='{{ site.baseurl }}/opportunities/student-jobs.html'
      class='white-button'>Learn More</a>
  {% endcapture %}
  
  {% capture right_text_one %}
    <p>The DHLab hires graduate students annually to join our team as consultants. Whether you use machine learning to find aesthetic patterns in 18th-century paintings or interactive data visualizations to track instances of textual reuse in Classical literature, we want to hear from you.</p>
    <a href='{{ site.baseurl }}/opportunities/student-jobs.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Project Assistants'
    left_text_one=left_text_one

    right_title_one='Digital Humanities Consultants'
    right_text_one=right_text_one

  %}

  {% assign items = site.projects | limit: 3 | where: 'funded', 'true' %}
  {% include grids/three_spaced_squares.html
    items=items
    label='FUNDED PROJECTS'
  %}
</div>
