---
layout: default
class: opportunities-page full-width-mobile
header_color: gray
title: Opportunities
---

<div class='center-column' role='main'>
  {% capture text %}
  <p>The Digital Humanities Lab (DHLab) works on a wide range of projects with staff, student, and faculty researchers within the Yale campus and beyond, and is uniquely positioned to support graduate student professional development through existing project partnerships.</p>

  <p>To explore how the DHLab could support your research, please visit our <a href='{{ site.baseurl }}/propose-a-project.html'>project proposal page</a>.</p>
  
  <p>To learn more about our graduate student development programs, please read below.</p>
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Work With Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='OPPORTUNITIES'
  %}

  {% capture left_text_one %}
    <p>The DHLab invites graduate students to join our Digital Humanities Certificate program to learn how to demonstrate digital humanities competencies across three possible themes. We also invite applicants to our Digital Dissertation Fellowship program, a one-year fellowship that will provide a stipend, space, community, mentorship, and mini-grant funding for relevant training and development costs for students building a digital dissertation component.</p>
    <a href='{{ site.baseurl }}/awards.html'
      class='white-button'>Learn More</a>
  {% endcapture %}
  
  {% capture right_text_one %}
    <p>Are you a Yale graduate student interested in humanistic questions and in building professional experience and expertise on digital humanities projects in a client-facing role? The Yale DHLab welcomes applicants to our DH Consultant positions. No prior DH experience is necessary for some positions, but applicants must have completed the DH Foundations workshop series (offered through the DHLab twice per semester) prior to applying.</p>
    <a href='{{ site.baseurl }}/awards/student-jobs.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Programs'
    left_text_one=left_text_one

    right_title_one='Digital Humanities Consultants'
    right_text_one=right_text_one

  %}

</div>
