---
layout: default
class: opportunities-page full-width-mobile
header_color: gray
---

<div class='center-column'>
  {% capture text %}
    The Digital Humanities Lab works on a wide range of projects with a number of researchers, designers, and programmers within the Yale campus and beyond. Read below to learn more about the ways you can partner with the Lab on your next digital project!
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Work With Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='OPPORTUNITIES'
  %}

  {% capture left_text_one %}
    <p>Each semester, the Digital Humanities Lab appoints a cohort of Digital Humanities Fellows to assist with courses that have a strong digital humanities component. These positions provide semester-long support for graduate students to engage with digital humanities methods and theories in a classroom setting.</p>
    <p>DHLab staff will work with Fellows to design digital humanities assignments, arrange access to electronic content, and provide specialized technical training. Visit the DH Fellows page to learn about our current recipients and their courses.</p>
    <a href='{{ site.baseurl }}/opportunities/dh-teaching-fellows.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture left_text_two %}
    <p>The Digital Humanities Lab funds postdoctoral associate positions each academic year. During those application cycles, we seek energetic and creative applicants who demonstrate innovative thinking and a proactive approach to the questions that digital humanities methods, approaches, tools, and theories raise in their academic disciplines.</p>
    <p>Each Postdoctoral Associate has a dedicated workspace in the DHLab in Sterling Memorial Library; the opportunity to collaborate with technical staff, including a DH Developer and UX Designer; and a budget for computing equipment, professional development, and relocation expenses. The Postdoctoral Associate's primary responsibility is to his or her own research project. We also expect candidates will be active participants in the intellectual life of the DHLab.</p>
    <a href='{{ site.baseurl }}/opportunities/postdoctoral-associates.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_one %}
    <p>The Digital Humanities Lab funds a wide range of projects that require different levels of programming expertise. If you would like to be considered for one of these positions when they open up, please email your resume/CV to dhlab@yale.edu, along with a brief statement of interest.</p>
    <p>Additionally, Yale Digital Scholarship Services—which includes the DHLab and StatLab—hires graduate students each semester to join our team as Digital Scholarship consultants. Whether you use machine learning to find aesthetic patterns in 18th-century paintings, interactive data visualizations to track instances of textual reuse in Classical literature, or big data technologies to identify systemic drivers of gene expression, we want to hear from you.</p>
    <a href='{{ site.baseurl }}/opportunities/student-jobs.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='DH Teaching Fellows'
    left_text_one=left_text_one

    left_title_two='Postdoctoral Associates'
    left_text_two=left_text_two

    right_title_one='Student Jobs'
    right_text_one=right_text_one
  %}

  {% assign items = site.projects | limit: 3 %}
  {% include grids/three_spaced_squares.html
    items=items
    label='FUNDED PROJECTS'
  %}
</div>