---
layout: default
class: resources-page full-width-mobile
header_color: gray
---

<div class='center-column'>
  {% capture text %}
    From data analysis and visualization services to custom application design and creation, the Yale University Library Digital Humanities Lab offers a wide range of services. Read on below to learn more about the ways our services can help advance your research.
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What We Offer'
    text=text
  %}

  {% include text/center_section_title.html
    text='RESOURCES'
  %}

  {% capture left_text_one %}
    <p>The DHLab offers individual and group consultations for digital humanities projects at any stage of development, from conceptualization through implementation. Staff address questions related to best practices, data management, corpus creation, visualizations, digital tools, and more. In addition to scheduled meetings, the DHLab also offers weekly Office Hours as another opportunity to discuss projects or general digital humanities ideas.</p>

    <a href='{{ site.baseurl }}/resources/consultations.html' class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture left_text_two %}
    <p>Looking to start a digital project but don't know where to begin? Need recommendations on programming languages or visualization fundamentals? Stop by the Digital Humanities Lab during open Office Hours to chat with our team over coffee.</p>
 
    <p>Office Hours provide a weekly opportunity to exchange ideas, discuss methods, and form connections with colleagues from different programs and departments. If you are interested in sharing your work in the form of a 10-minute lightning talk at the beginning of an Office Hours, email the DHLab.</p>
 
    <p>Whether you are new to the field and would like to learn more, have existing projects and seek a communal workspace, or are somewhere in between, we invite you to stop by!</p>

    <a href='{{ site.baseurl }}/resources/office-hours.html' class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture left_text_three %}
    <p>Whenever possible, the Yale University Library works with database vendors to include text and data mining (TDM) rights in license agreements. This means that for some databases (generally ones with out-of-copyright materials), Yale researchers can access the raw text for the purposes of data mining.</p>

    <a href='{{ site.baseurl }}/resources/data.html' class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_one %}
    <p>Yale’s world-class collections offer unparalleled source material for humanistic inquiries. With the launch of the DHLab in fall 2015, we can now push these inquiries further by incorporating digital methods that allow us to see our (literary, historical, cultural, artistic) data at new scales.</p>

    <p>The DHLab supports faculty, graduate students, and undergraduates on a broad range of digital humanities undertakings. Possible digital methods include but are not limited to text-tagging, mapping, network analysis, and topic modeling.</p>

    <a href='{{ site.baseurl }}/resources/space.html' class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_two %}
    <p>The Digital Humanities Lab leads workshops throughout the year on methods and tools related to data gathering, cleaning, mining, visualization, and analysis. These workshops are open to all Yale students, faculty, and staff, but sometimes space is limited, so please check to see if registration is required.</p>

    <p>Find information about upcoming and past workshops below.</p>

    <a href='{{ site.baseurl }}/resources/workshops.html' class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_three %}
    <p>Looking for code to try out? Interested in what's underlying the DHLab's projects? Check out our <a href='https://github.com/YaleDHLab'>GitHub</a> repository! We strive to create open and accessible projects.</p>

    <p>Our GitHub repository also houses instructions from our workshops, making it a great place to visit if you couldn't attend or would like a refresher on what we covered. If you have an idea for a workshop that's not listed, submit a "new issue" on the Workshops page, and we'll get back to you!</p>

    <a href='https://github.com/YaleDHLab/dhlab-site/' class='white-button'>Go to GitHub</a>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Consultations'
    left_text_one=left_text_one

    left_title_two='Office Hours'
    left_text_two=left_text_two

    left_title_three='Data'
    left_text_three=left_text_three

    right_title_one='Space & Equipment'
    right_text_one=right_text_one

    right_title_two='Workshops'
    right_text_two=right_text_two

    right_title_three='Github Repository'
    right_text_three=right_text_three
  %}

  {% assign events = site.events | limit: 3 %}
  {% include text/three_text_blocks.html
    items=events
    label='WORKSHOPS'
  %}
</div>