<div class='sidebar-container'>
  <div class='sidebar-links about-sidebar'>
    {% assign about_url = '/about.html' %}
    {% if about_url == include.page.url %}
      {% assign about_class = 'active' %}
    {% endif %}

    <a href='{{ about_url | prepend: site.baseurl }}' class='{{ about_class }}'>
      <b>About the Yale DH Lab</b>
    </a>

    {% include sidebars/sidebar_links.html
      items=site.about
      page=include.page
    %}
  </div>
  <hr class='sidebar'>
  <div class ='sidebar-text'><b>Office Hours</b> are Tuesdays and Wednesdays from 2—4 pm. Visit us at Sterling Memorial Library, Room 316.</div>
  <a href='{{ site.newsletter }}' class='color-button'>Sign up for E-News</a>
</div>