<div class='sidebar-container'>
  <div class='sidebar-links about-sidebar'>
    {% assign about_url = '/about.html' %}
    {% if about_url == include.page.url %}
      {% assign about_class = 'active' %}
    {% endif %}

    <a href='{{ about_url | prepend: site.baseurl }}' class='{{ about_class }}'>
      <b>About the Yale DH Lab</b>
    </a>
  </div>
  <hr class='sidebar'>
  <div class ='sidebar-text'>Visit us in the Franke Family Digital Humanities Laboratory.</div>
  <a href='{{ site.newsletter }}' class='color-button' target='_blank'>Sign up for E-News</a>
</div>
