<section id='archive-grid' class='archive-grid'>
  <div class='filters'>
    <h3>{{ include.label }}</h3>
    <select id='categories'>
      <option value='ALL'>All Types</option>
    </select>
    <select id='tags'>
      <option value='ALL'>All Topics</option>
    </select>
    <hr/>
  </div>
  <div class='mobile section-title'>{{ include.label }}</div>
  {% if include.render == 'json' %}
    {% include json/jsonify_items.html items=items %}
  {% else %}
    {% for item in include.items | sort: 'order' %}
      {% assign url = item.url | prepend: site.baseurl %}
      <div class='archive-item'>
        <a href='{{ url }}'
          data-categories='{{ item.categories | jsonify }}'
          data-tags='{{ item.tags | jsonify }}'>
          {% assign image_url = item.thumbnail | prepend: site.baseurl %}
          <div class='background-image'
            style='background-image: url({{ image_url }})'></div>
          <div class='title'>{{ item.title }}</div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</section>