<div class='one-third-rectangle-cards'>
  {% for item in include.items %}
    {% if item.order != include.skip_number %}
      {% assign item_url = item.url | prepend: site.baseurl %}
      <a href='{{ item_url }}' class='one-third-rectangle-container'>
        {% assign image_url = item.thumbnail | prepend: site.baseurl %}
        <div class='one-third-rectangle-card background-image'
          style='background-image:url({{ image_url }})'>
          <div class='dark-overlay'></div>
          {% include text/centered_image_title.html
            title=item.title
            subtitle=item.subtitle
          %}
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>