<footer>
  <div class='footer-column footer-top'>
    <div class='footer-logo'><img src='{{ site.baseurl }}/assets/images/branding/Yale-DHLab-logo.svg'></div>
  </div>
  <div class='footer-column footer-bottom'>
    <div>
      <div>
        <b>TODAY'S HOURS</b>
      </div>
      <div class='color-text'>10:00 am - 4:00 pm</div>
    </div>
    <br/>
    <div>Sterling Memorial Library, Room 316</div>
    <div>149 High Street, New Haven, CT 06511</div>
    <br/>
    <div>
      <a href='{{ site.email }}'>{{ site.email }}</a>
    </div>
    <div>{{ site.phone }}</div>
    <br/>
    <div><b>TERMS OF USE</b></div>
  </div>
  <div class='footer-column footer-bottom'>
    <div>
      <b>ON CAMPUS</b>
    </div>
    <br/>
    <div>Digital Scholarship at Yale</div>
    <br/>
    <div>Center for Science and Social Science Information (CSSSI)</div>
    <br/>
    <div>Yale Institute for Network Science</div>
    <br/>
    <div>Yale STEAM</div>
  </div>
</footer>