<footer role='content-info'>
  <div class='center-column'>
    <div class='footer-column footer-top'>
      <div class='footer-logo'>
        <a href='http://library.yale.edu' target='_blank'>
          <img src='{{ site.baseurl }}/assets/images/branding/dhlab_footer.svg'
            alt='Digital Humanities Footer Logo'>
        </a>
      </div>
    </div>
    <div class='footer-column footer-bottom'>
      <div>Franke Family Digital Humanities Laboratory</div>
      <div>Sterling Memorial Library</div>
      <div>120 High Street, New Haven, CT 06511</div>
      <div class='footer-mobile-icons'>
        <a href='mailto:{{ site.email }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-email.svg'
            alt='Email icon'>
        </a>
        <a href='https://twitter.com/{{ site.twitter }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-twitter.svg'
            alt='Twitter icon'>
        </a>
        <a href='https://www.github.com/{{ site.github }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-github.svg'
            alt='GitHub icon'>
        </a>
        <a href='https://www.instagram.com/{{ site.instagram }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-instagram.svg'
            alt='Instagram icon'>
        </a>
      </div>
      <div>
        <a class='hide-tablet' href='mailto:{{ site.email }}'>{{ site.email }}</a>
      </div>
      <br/>
      <div>
        <b><a href='{{ site.baseurl }}/terms-of-use.html'>TERMS OF USE</a></b> & <b><a href='{{ site.baseurl }}/privacy-policy.html'>PRIVACY POLICY</a></b><br/><br/>
      </div>
      <div>
        <b><a href='https://usability.yale.edu/web-accessibility/accessibility-yale' target='_blank'>ACCESSIBILITY AT YALE</a></b>
      </div>
    </div>
    <div class='footer-column footer-bottom' id='footer-on-campus'>
      <b>YALE PARTNERS</b>
      <br/>
      <br/>
      <div>
        <a href='https://marx.library.yale.edu/data-gis-and-statistical-support-services-marx-library'>Data, GIS & Statistical Support Services</a>
      </div>
      <div>
        <a href='https://marx.library.yale.edu/'>Marx Science & Social Science Library</a>
      </div>
      <div>
        <a href='http://ccam.yale.edu/'>Center for Collaborative Arts &amp; Media</a>
      </div>
      <div>
        <a href='http://ceid.yale.edu/'>Center for Engineering Innovation & Design</a>
      </div>
      <div>
        <a href='https://ctl.yale.edu/'>Poorvu Center for Teaching &amp; Learning</a>
      </div>
      <div>
        <a href='https://research.computing.yale.edu/'>Yale Center for Research Computing</a>
      </div>
      <br/>
      <div>
        <b><a href='https://subscribe.yale.edu/browse?search=digital+humanities' target='_blank'>SIGN UP FOR DHLAB EMAILS</a></b>
      </div>
    </div>
  </div>
</footer>
