<head>
  <meta charset='UTF-8'>
  <title>Yale DHLab - {{ page.title }}</title>
  <link rel='stylesheet' type='text/css'
    href='{{ site.baseurl }}/assets/css/style.css?{{ site.time | date: "%s%N" }}'>
  <link id='mobile-fonts'>
  <link rel='shortcut icon' href='{{ site.baseurl }}/assets/images/favicon.ico' type='image/x-icon'>
  {% if site.bust_cache %}
    <meta http-equiv='cache-control' content='no-cache, no-store, must-revalidate'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv='expires' content='0'>
  {% endif %}
  <meta name='viewport' content='width=device-width'>
  <meta name='google-site-verification' content='Zw2VRjNAyfT-FjfkJqfffHmaHKcHTJ54Dy28j98IYjY' />
  {% if page.has_bookshelf %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
  {% endif %}
  <link media='(min-width: 900px)'
    href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
    rel='stylesheet'>
</head>