
<div class='center-column event-detail-page'>
  <section>
    <h2>{{ include.label }}</h2>
    <hr class='no-margin-bottom'>
    <div class='two-column-container one-third-width'>
      <div class='left-column'>
        <h3>{{ page.title }}</h3>
        {% assign image_url = include.page.thumbnail | prepend: site.baseurl %}
        <div class='square-image background-image event-date-container'
          style='background-image:url({{ image_url }})'>
          {% if include.label == 'EVENTS' %}  
            {% include events/event_date.html event=include.page %}
          {% endif %}
          </div>
        {% if include.label == 'EVENTS' %} 
          {% include events/event_timestamp.html event=include.page %}
        {% endif %}

        {% if include.label == 'EVENTS' %}
          {% include events/event_actions.html event=include.page %}
        {% endif %}

        {% if include.label == 'ARCHIVE' %}
          {% for team_member in include.page.team %}
           <div><b>{{ team_member.name }}</b></div>
           <div>{{ team_member.position }}</div>
           <br/>
          {% endfor %}
          <a href='{{ include.page.projecturl }}'' target='_blank' class='color-button'>View Project</a>
        {% endif %}
     
        <div class='event-tags'>
          <div>Tags:</div>
          {% for tag in include.page.tags %}
            <a href='{{ site.baseurl }}/events.html?tag={{ tag }}'>{{ tag }},</a>
          {% endfor %}
        </div>
      </div>
      <div class='right-column'>
        {{ include.content }}
        {% if include.page.registerurl and include.label == 'EVENTS' %}
          <a href='{{ include.page.registerurl }}' target='_blank' class='color-button'>Register</a>
        {% endif %}
      </div>
    </div>
  </section>
  {% include text/three_text_blocks.html
    items=include.bottom_items
    label=include.bottom_label
  %}
</div>
