{% if include.page.image %}
  {% assign image_url = include.page.image %}
{% elsif include.page.thumbnail %}
  {% assign image_url = include.page.thumbnail %}
{% endif %}
{% if image_url %}
  {% include heroes/mobile_hero.html image=include.page.thumbnail %}
{% endif %}

<div class='center-column {{ include.page.class }}'>
  <section>
    <div class='section-title hide-tablet'>{{ include.label }}</div>
    <hr class='no-margin-bottom hide-tablet'>
    <div class='mobile-title'>
      {% include text/mobile_section_title.html
        category=include.label
        title=include.page.title
      %}
    </div>
    {% if include.label == 'EVENTS' %}
      <div class='mobile mobile-event-timestamp'>
        {% include events/event_timestamp.html event=include.page %}
      </div>
    {% endif %}
    <div class='two-column-container one-third-width top-text'>
      <div class='left-column'>
        <h2>{{ page.title }}</h2><br>
        {% assign image_url = include.page.thumbnail | prepend: site.baseurl %}
        <div class='square-image background-image event-date-container'
          style='background-image:url({{ image_url }})'>
          {% if include.label == 'EVENTS' %}
            {% include events/event_date.html event=include.page %}
          {% endif %}
        </div><br>
        {% if include.label == 'EVENTS' %}
          {% include events/event_timestamp.html event=include.page %}
          {% include events/event_actions.html page=include.page %}
        {% endif %}

        {% if include.label == 'NEWS' %}
          {% include events/event_actions.html page=include.page %}
        {% endif %}

        {% if include.label == 'ARCHIVE' %}
          {% include projects/team_members.html page=include.page %}
          <a href='{{ include.page.project_url }}' target='_blank' class='color-button'>View Project</a>
        {% endif %}
        {% include tags.html page=include.page %}
      </div>
      <div class='right-column'>
        {{ include.content }}
        {% if include.label == 'EVENTS' %}
          <div class='mobile-tags mobile'>
            {% include tags.html page=page %}
          </div>
        {% endif %}
        {% if include.page.registerurl and include.label == 'EVENTS' %}
          <a href='{{ include.page.registerurl }}' target='_blank' class='color-button'>Register</a>
        {% endif %}
      </div>
    </div>
  </section>
  {% if include.label == 'EVENTS' %}
    <div class='hide-tablet'>
      {% include text/three_text_blocks.html
        items=include.bottom_items
        label=include.bottom_label
      %}
    </div>
    <div class='tablet mobile mobile-event-bottom'>
      <div class='mobile-event-actions'>
        {% include events/event_actions.html page=include.page %}
      </div>
      <div class='section-title'>Related Events</div>
      {% for item in include.bottom_items limit:3 %}
        {%- include cards/horizontal_card.html item=item -%}
      {% endfor %}
    </div>
  {% else %}
    {% include text/three_text_blocks.html
      items=include.bottom_items
      label=include.bottom_label
    %}
  {% endif %}
</div>