<div class='two-column-container half-width two-column-text' role='complementary'>
  <div class='left-column'>
    {% include text/half-width/two_column_text_block.html
      title=include.left_title
      text=include.left_text
      button_url=include.left_button_url
      button_label=include.left_button_label
    %}
  </div>
  <div class='right-column'>
    {% include text/half-width/two_column_text_block.html
      title=include.right_title
      text=include.right_text
      button_url=include.right_button_url
      button_label=include.right_button_label
    %}
  </div>
</div>