---
process: true
---

$color: #FFC426;
$desktop_breakpoint: 1200px;
$pad: 40px;
$pad_sides: 60px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  background-attachment: fixed;
}

/**
* Containers
**/ 

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.center-column,
.hero-text-container {
  margin: 0 auto;
  max-width: $desktop_breakpoint;
  padding: 100px 60px 40px;
}

.hero-text-container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  top: 100%;
  background: inherit;
  background-size: 285px 100%;
  background-color: #fff;
  background-position: 60px -80px;
  z-index: -1;
  overflow: visible;
}

@media(max-width: $desktop_breakpoint) {
  .hero-text-container {
    max-width: 100%;
    padding: 0px 20px 40px;
  }

  .center-column {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.home-center-column {
  margin: 0 auto;
  max-width: $desktop_breakpoint;
  padding: 40px 60px;
}

/**
* Text
**/

@font-face {
  font-family: 'yalenewbold';
  src: url('{{ site.baseurl }}/assets/fonts/yalenew-bold-webfont.woff2') format('woff2'),
       url('{{ site.baseurl }}/assets/fonts/yalenew-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yalenewbold_italic';
  src: url('{{ site.baseurl }}/assets/fonts/yalenew-bolditalic-webfont.woff2') format('woff2'),
       url('{{ site.baseurl }}/assets/fonts/yalenew-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yalenewitalic';
  src: url('{{ site.baseurl }}/assets/fonts/yalenew-italic-webfont.woff2') format('woff2'),
       url('{{ site.baseurl }}/assets/fonts/yalenew-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yalenewroman';
  src: url('{{ site.baseurl }}/assets/fonts/yalenew-roman-webfont.woff2') format('woff2'),
       url('{{ site.baseurl }}/assets/fonts/yalenew-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  color: #FFC426;
}

a.inline-link {
  color: #e6a400;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
  line-height: 1.6em;
  font-weight: 400;
  font-size: 1.1em;
}

h2 {
  font-size: 1.125em;
  letter-spacing: .5px;
  padding: 20px $pad 20px 0;
}

h2.subheading {
  padding-top: 0;
  padding-bottom: 8px;
}

h3 {
  font-size: 1.5em;
  transition: color .1s;
  padding: 0;
}

hr {
  height: 1px;
  color: #fff;
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0 0 $pad 0;
}

hr.no-margin-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

hr.sidebar {
  margin: 20px 0;
  padding-bottom: 0;
  width: 90%;
}

.news-detail-page hr {
  padding: 0;
  margin: 30px 0;
}

.small-uppercase {
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 12px;
}

.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: 1.2em;
}

.list-heading {
  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
}

.white-text {
  color: #fff;
}

.color-text {
  color: $color;
}

.center-text {
  text-align: center;
  font-size: 1.125em;
  letter-spacing: .5px;
}

.sidebar-text {
  width: 85%;
  line-height: 1.5;
}

.sidebar-links {
  width: 85%;
  line-height: 2;
}

/**
* Images
**/

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.square-image {
  padding-bottom: 100%;
  border: 1px solid #ddd;
}

/**
* Buttons
**/

.white-button {
  text-decoration: none;
  font-family: 'Open Sans';
  display: inline-block;
  background: transparent;
  padding: 5px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: .5px;
  transition: background .1s;
  font-size: .9em;
}

.white-button:hover {
  background: rgba(255,255,255,0.3);
  border: 2px solid $color;
}

.color-button {
  color: #000;
  padding: 5px 15px;
  border: 2px solid $color;
  border-radius: 20px;
  background: transparent;
  letter-spacing: .5px;
  transition: color .1s, background-color .1s;
  display: inline-block;
  font-weight: 700;
  font-size: .9em;
}

.color-button:hover {
  background: $color;
  color: #fff;
}

/**
* Padding specifiers
**/

.pad-top {
  padding-top: 20px;
}

/**
* Circle with a downward-pointing caret
**/

.circle-caret:before {
  content: '';
  height: 30px;
  width: 60px;
  background-color: #fff;
  position: absolute;
  margin-top: -$pad;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  left: 50%;
  margin-left: -30px;
  background-image: url('{{ site.baseurl }}/assets/images/icons/caret.png');
  background-size: $pad;
  background-position: 10px -10px;
  background-repeat: no-repeat;
}

/**
* Backgrounds
**/

.color-background {
  background-color: $color;
  padding: $pad;
}

.color-background.circle-caret {
  padding: $pad 80px;
}

.color-background hr {
  margin: 50px 0;
  padding: 0;
  border-color: #BF8D2D;
}

.color-background h3 {
  padding-bottom: 18px;
}

.color-background .white-button {
  color: #000;
  margin-top: 10px;
}

.texture-background {
  background-image: url({{ site.baseurl }}/assets/images/backgrounds/background-texture.svg)
}

.news-background {
  background-image: url({{ site.baseurl }}/assets/images/backgrounds/vector-texture.png);
  background-size: cover;
}

.color-background .two-column-container.one-third-width .left-column {
  width: 280px;
}

/**
* Helpers
**/

.clear-both {
  clear: both;
}

@media(max-width: $desktop_breakpoint) {
  .desktop {
    display: none;
  }
}

@media(min-width: $desktop_breakpoint) {
  .tablet {
    display: none;
  }
}

/************************************************************
*                        Layouts                            *
/***********************************************************/

/**
* Two column layouts
**/

.two-column-container {
  display: table;
  width: 100%;
}

.two-column-container .left-column,
.two-column-container .right-column {
  padding: $pad;
  display: table-cell;
  vertical-align: top;
}

.two-column-container .left-column {
  padding-left: 0;
}

.two-column-container .right-column {
  padding-right: 0;
}

.two-column-container .left-column.no-pad-top,
.two-column-container .right-column.no-pad-top {
  padding-top: 0;
}

/* Don't push the first paragraph */
.two-column-container .right-column p:nth-child(1) {
  margin: 0;
}

/* Don't allow transforms on card titles to push the columns */
.card-title-container + .two-column-container,
.hero-caption + .two-column-container {
  margin-top: -$pad;
}

.two-column-container.pad-sides {
  padding-left: $pad_sides;
  padding-right: $pad_sides;
}

.color-background + .two-column-container {
  padding-top: 20px;
  padding-left: $pad_sides;
  padding-right: $pad_sides;
}

.post .color-background + .two-column-container h3 {
  padding: 20px 0;
}

/**
* Column sizes
**/

/* Two column sizes: ~33% and 66% vs 50% 50% */
.two-column-container.one-third-width .left-column {
  width: 360px;
}

.two-column-container.one-third-width {
 width: 95%; 
 padding-left: 5%;
}

.two-column-container.half-width .left-column {
  width: 50%;
}

@media(max-width: $desktop_breakpoint) {
  .two-column-container .left-column,
  .two-column-container .right-column {
    padding: 25px;
    display: table-cell;
    vertical-align: top;
  }
}

/**
* Post Pages
**/

.post h3:first-of-type {
  padding-top: 0;
}

/**
* Header
**/

header {
  height: 70px;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

header,
footer {
  background: rgba(0, 0, 0, 0.7);
}

.site-brand {
  height: 60px;
  width: 180px;
  margin-top: -5px;
  display: inline-block;
  margin-left: 60px;
  margin-left: calc((100% - 1080px)/2);
  text-decoration: none;
  padding: 5px 0px;
  float: left;
}

.site-brand img {
  background: $color;
  position: relative;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
}

@media(max-width: $desktop_breakpoint) {
  .site-brand {
    margin-left: 50px;
  }
}

/**
* Gray Header
**/

header.gray-header {
  background-color: #efefef;
}

header.gray-header .nav-links .link {
  color: #555;
}

header.gray-header .nav-links .link:hover .sublinks {
  background: #efefef;
  color: #555;
}

/**
* Header active routes
**/

.container.about-page .link.about > a {
  color: $color;
}

.container.opportunities-page .link.opportunities > a,
.container.awards-page        .link.opportunities > a {
  color: $color;
}

.container.events-page .link.events > a,
.container.news-page   .link.events > a {
  color: $color;
}

.container.projects-page .link.projects > a {
  color: $color;
}

.container.guides-page  .link.guides > a,
.container.methods-page .link.guides > a {
  color: $color;
}

/**
* Header links
**/

.nav-links {
  display: table;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 20px;
  padding: 0 50px;
  position: relative;
}

.nav-links .link {
  display: table-cell;
  color: #ccc;
}

.nav-links .link > a {
  padding: 25px 20px;
  display: inline-block;
  box-sizing: border-box;
}


.sublinks {
  display: none;
}

.sublinks:hover {
  display: block;
}

.nav-links .link:hover .sublinks {
  display: block;
  position: absolute;
  bottom: 0px;
  transform: translate(0, 100%);
  font-weight: 600;
  background: rgba(0,0,0,0.9);
  padding: 0 20px 20px;
  line-height: 25px;
  white-space: nowrap;
}

.nav-links a:hover{
  color: $color;
}

.nav-links .link:hover .sublinks a {
  display: block;
}


.nav-links .link:hover .sublinks a:hover {
  color: $color;
}

.nav-links .link:hover .sublinks a.subheader {
  padding-left: 0px;
  padding-top: 20px;
}

.sublinks > a:first-of-type {
  padding-left: 0px;
  padding-top: 20px;
}

.sublinks > a.subheader {
  padding-top: 0;
}

a.subheader ~ a {
  padding-left: 14px;
}


/**
* Footer
**/

footer {
  padding: 60px 7%;
  display: table;
  color: #fff;
  width: 100%;
  background: #051D38;
  letter-spacing: .5px;
  font-weight: 400;
}

.footer-column {
  display: table-cell;
  vertical-align: top;
  padding: 0 20px;
  margin-bottom: 20px;
}

.footer-text div {
  max-width: 280px;
}

.footer-logo {
  width: 300px;
  height: 70px;
  margin-bottom: 60px;
}

footer .hours {
  color: $color;
  margin-left: 10px;
}

@media(max-width: 1100px) {
  footer {
    display: block;
  }

  .footer-column {
    display: block;
  }

  .footer-text {
    display: table-cell;
  }
}

@media(max-width: 700px) {
  .footer-logo {
    margin: 0 auto 60px;
  }

  .footer-column,
  .footer-text {
    display: block;
  }
}

@media(max-width: 450px) {
  footer {
    padding: 30px 5px;
  }

  .footer-logo {
    max-width: 100%;
    padding-bottom: 20%;
    height: auto;
  }
}

/**
* Sections
**/

section {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: auto;
}

/************************************************************
*                       Partials                            *
/***********************************************************/

/**
* Hero
**/

.hero {
  height: 450px;
  color: #fff;
  text-align: center;
  z-index: -2;
  background-color: #efefef;
  position: relative;
}

.hero-caption {
  padding: 20px 30px 20px 150px;
  position: relative;
  font-size: 0.8em;
  overflow: hidden;
  text-align: left;
}

.projects-page .hero {
  height: 600px;
}

/**
* Partials: Three text blocks
**/

.three-text-blocks .block {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  padding: 0 40px;
}

.three-text-blocks .block:nth-of-type(1) {
  padding-left: 0;
}

.three-text-blocks .block:nth-of-type(3) {
  padding-right: 0;
}

.three-text-blocks .block a:nth-of-type(2) {
  font-weight: 800;
  color: $color;
}

.three-text-blocks .block h3 {
  padding: 0 0 10px;
}

/**
* Partials: Three spaced squares
**/

.three-spaced-squares-container {
  width: 100%;
  display: block;
  padding-bottom: 33%;
  position: relative;
  margin-bottom: 60px;
}

.three-spaced-squares {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: auto;
}

.three-spaced-squares h3 {
  padding-top: 20px;
  font-size: 1.25em;
}

.three-spaced-squares-table {
  height: 100%;
  width: 100%;
  display: table;
}

.three-spaced-squares .spaced-square {
  display: table-cell;
  width: 33%;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

.three-spaced-squares .spaced-square:nth-of-type(1) {
  padding-right: 40px;
}

.three-spaced-squares .spaced-square:nth-of-type(2) {
  padding-left: 20px;
  padding-right: 20px;
}

.three-spaced-squares .spaced-square:nth-of-type(3) {
  padding-left: 40px;
}

.three-spaced-squares .background-image {
  height: 100%;
  width: 100%;
  display: table;
}

@media(max-width: $desktop_breakpoint) {
  .three-spaced-squares-container {
    margin: 30px 0;
  }

  .three-spaced-squares .spaced-square:nth-of-type(1) {
    padding-right: 20px;
  }

  .three-spaced-squares .spaced-square:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .three-spaced-squares .spaced-square:nth-of-type(3) {
    padding-left: 20px;
  }
}

/**
* Color Blocks
**/

.color-block-container hr:last-of-type {
  display: none;
}

.color-block-container p {
  margin-top: 0
}

.color-block-container h3 { 
  font-size: 1.25em;
}

/**
* Partials: Event card dates
**/

.event-date-container {
  position: relative;
}

.event-date-container .card-date {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 6px 6px 8px 6px;
  width: 48px;
  text-align: center;
  text-decoration: none;
  line-height: 17px;
  color: #000;
  background: #fff;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

.event-date-container .event-month {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

}

.event-date-container .event-day {
  font-size: 22px;
  font-weight: 700;
}

/**
* Partials: Card title overlays
**/

/* Class applied to card-title-container's container */
.blur-container {
  position: relative;
}

.blur-container .card-title-container {
  position: absolute;
  left: 14px;
  right: 14px;
  top: 100%;
  width: auto;
  padding: 0;
  background: inherit;
  background-position-y: -75px;
  background-size: 100% 125px;
}

.card-title-container {
  transform: translate(0, -50px);
  text-align: left;
  width: 90%;
  max-width: 300px;
  display: inline-block;
  overflow: hidden;
  background-size: 100% 120px;
}

.hero-text-container .card-title-container {
  float: left;
  background: inherit;
  background-position: 0px -80px;
}

.card-title-container .card-title-text {
  padding: 18px;
  text-decoration: none;
  color: #000;
  background: rgba(256,256,256,0.86);
  border: 1px solid lightgray;
  position: relative;
}

/* card title container children */
.card-title-container .card-category {
  text-transform: uppercase;
}

.card-title-container .card-title {
  font-size: 1.5em;
}

.card-title-container .card-title-blur {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: inherit;
  z-index: 0;
  filter: blur(4px);
  background-size: 100% 140px;
}

.hero-text-container .card-title-container .card-title-blur {
  z-index: 0;
  filter: blur(4px);
  background-size: 200% 140px;
}

/**
* Partials: Rectangle image grid
**/

.rectangle-image-grid .left-column,
.rectangle-image-grid .right-column {
  position: relative;
  padding-bottom: 25%;
}

.rectangle-image-grid .four-rectangle-grid-cell {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 16px;
  left: 0px;
  overflow: hidden;
  color: #fff;
}

.rectangle-image-grid .left-column .four-rectangle-grid-cell {
  right: 8px;
}

.rectangle-image-grid .right-column .four-rectangle-grid-cell {
  left: 8px;
}

.rectangle-image-grid .background-image,
.rectangle-image-grid .dark-overlay {
}

.rectangle-image-grid.circle-caret:before {
  z-index: 3;
  margin-top: 0;
}

.dark-overlay {
  background: rgba(0,0,0,0.3);
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.image-title-container {
  position: absolute;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  color: #fff;
  font-weight: 400;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  transition: top .1s;
}

.one-third-rectangle-card .image-title-container {
  margin-top: -1em;
}

.image-title-container .image-title {
  font-size: 20px;
}

.image-title-container .image-subtitle {
  font-size: 17px;
  font-weight: 100;
}

.four-rectangle-grid-cell .teaser {
  transition: top .1s;
  top: 400px;
  position: relative;
  color: #fff;
  width: 80%;
}

/* Methods page overrides */
.methods-page .image-title-container {
  margin-top: -15px;
}

/**
* Partials: Rectangle image grid hover state
**/

.four-rectangle-grid-cell:hover .dark-overlay {
  border: 6px solid $color;
}

.four-rectangle-grid-cell:hover .background-image,
.four-rectangle-grid-cell:hover .background-image {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.four-rectangle-grid-cell:hover .image-title-container,
.four-rectangle-grid-cell:hover .image-title-container {
  top: 100px;
}

.four-rectangle-grid-cell:hover .teaser {
  position: absolute;
  top: 145px;
  z-index: 4;
}

/* Methods page overrides */
.methods-page .four-rectangle-grid-cell:hover .image-title-container {
  top: 115px;
}

.methods-page .four-rectangle-grid-cell:hover .teaser {
  top: 140px;
}

/**
* Partials: One third width rectangle cards
**/

.one-third-rectangle-cards {
  width: 100%;
  display: table;
}

.one-third-rectangle-cards .one-third-rectangle-container {
  display: table-cell;
  position: relative;
  padding-bottom: 20%;
}

.one-third-rectangle-cards .one-third-rectangle-card,
.one-third-rectangle-cards .dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.one-third-rectangle-cards .one-third-rectangle-card:nth-of-type(1) {
  right: 20px;
}

.one-third-rectangle-cards .one-third-rectangle-card:nth-of-type(2) {
  right: 10px;
  left: 10px;
}

.one-third-rectangle-cards .one-third-rectangle-card:nth-of-type(3) {
  left: 20px;
}

.one-third-rectangle-cards .one-third-rectangle-card:hover {
  outline: 4px solid $color;
}

/**
* Partials: News Card (Home Spotlight and Featured News)
**/

.two-thirds-width-card-image {
  padding-bottom: 33%;
  width: 65%;
  display: block;
}

.two-thirds-width-card-image .color-button {
  float: right;
}

.large-card-text {
  float: right;
  margin: 24px 135px 0 0;
  width: 570px;
}

.button-prompt {
  display: inline-block;
  width: 380px;
}

.height-container {
  position: relative;
}

.two-thirds-width-card a {
  vertical-align: middle;
}

/**
* Partials: News Card color square
**/

.news-card-square {
  width: 33%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: $pad;
  overflow: auto;
}

.news-card-square p {
  font-size: 1em;
}

.news-card-square > div > b {
  font-size: 17px;
}

/**
* Partials: Horizontal Card
**/

.horizontal-card {
  margin-bottom: 40px;
  position: relative;
}

.horizontal-card h3 {
  padding: 0;
  transition: color .1s;
}

.horizontal-card .stripe {
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 0px;
  transition: height 0.1s;
  background: $color;
}

.horizontal-card .image-container {
  width: 320px;
  height: 260px;
  padding-right: 60px;
  display: inline-block;
  float: left;
  margin-left: 15px;
}

.horizontal-card .image {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}

.horizontal-card .text {
  overflow: hidden;
  vertical-align: top;
  line-height: 1.3em;
  color: #000;
  padding-right: 60px;
}

.horizontal-card a.color-button {
  display: inline-block;
  margin-top: 20px;
}

.horizontal-card,
.horizontal-card:hover .stripe {
  min-height: 260px;
}

.horizontal-card:hover h3 {
  color: $color;
}

@media(max-width: $desktop_breakpoint) {
  .horizontal-card {
    height: auto;
  }
}

/**
* Partials: Detail page links
**/

.two-column-container a.color-button {
  margin: 20px 0;
}

.detail-page-links a {
  line-height: 2em;
}

.detail-page-links a.active {
  color: $color;
}

/**
* Partials: Personnel list
**/

.personnel-list {
  line-height: 1.7em;
}

.personnel-list + a.color-button {
  margin-top: 0;
}

/**
* Partials: About Page Postdocs
**/

.postdoc-archive h3 {
  padding: 15px 0;
}

.postdoc-archive .left-column a {
  display: block;
  font-weight: 800;
  padding-bottom: 10px;
}

.postdoc-archive .postdoc {
  padding-bottom: 15px;
  letter-spacing: 0.04em;
}

/************************************************************
*                           Pages                           *
/***********************************************************/

/**
* Home page
**/

.home-page .hero {
  height: 600px;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.home-page .hero .hero-image {
  background-image: url('{{ site.baseurl }}/assets/images/home/hero.jpg');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-page .hero-text {
  position: absolute;
  top: 220px;
  z-index: 1;
  right: 0;
  left: 0;
}

.home-page .hero div {
  font-family: 'yalenewroman', serif;
  font-weight: normal;
  text-shadow: 2px 2px 4px #222222;
}

.home-page .subhead {
  font-size: 1.5em;
  letter-spacing: 3px;
}

.home-page .hero h1 {
  margin: 15px;
  font-family: 'yalenewroman', serif;
  font-weight: normal;
  font-size: 5em;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px #222222;
}

.home-page .hero a {
  margin-top: 5px;
  background: rgba(0,0,0,0.15);
}

.home-page .hero video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/**
* Home page events
**/

.home-events-container {
  text-align: center;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 80px;
}

.home-events-container a {
  display: table-cell;
  width: 30%;
  position: relative;
  vertical-align: top;
}

/* evenly space events in table */
.home-page .home-events-container a:nth-child(1) {
  padding-right: 40px;
}

.home-page .home-events-container a:nth-child(2) {
  padding: 0 20px;
}

.home-page .home-events-container a:nth-child(3) {
  padding-left: 40px;
}

.home-events-container .home-event-image {
  width: 100%;
  padding-bottom: 100%;
}

.home-events-container .card-title-container {
  width: 100%;
}

.home-events-container .background-image .card-title-container {
  width: auto;
}

/**
* Home large cards
**/

.home-page .full-width-card-image {
  padding-bottom: 40%;
}

.home-page .two-thirds-width-card-image {
  padding-bottom: 33%;
  width: 65%;
  display: block;
}

.home-page .large-card-text {
  float: right;
  margin: 20px 80px 0 0;
  width: 570px;
}

.home-page .color-button {
  display: inline-block;
  float: right;
}

.home-page .button-prompt {
  display: inline-block;
  width: 380px;
  font-weight: 400;
  font-size: .95em;
  letter-spacing: .25px;
}

/**
* Home page yellow square
**/

.home-page .news-card-square {
  width: 33%;
  background: $color;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: $pad;
  overflow: auto;
}

.home-page .news-card-square p {
  font-size: 1em;
  font-weight: 400;
}

.home-page .news-card-square h3 {
  padding: 0px;
}

.home-page .news-card-square b:nth-child(1) {
  font-size: 14px;
}

/**
* Tablet sign up for our newsletter
**/

.tablet.newsletter {
  padding: $pad;
  background-image: url({{ site.baseurl }}/assets/images/placeholder-9.png);
  text-align: center;
}

.tablet.newsletter .newsletter-text {
  max-width: 400px;
  display: inline-block;
}

.tablet.newsletter input {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 12px;
  font-size: 1em;
}

.tablet.newsletter .color-button {
  float: none;
}

/**
* Home devices
**/

@media(max-width: 1050px) {
  .home-page .two-thirds-width-card-image,
  .home-page .news-card-square {
    width: 49%;
  }

  .large-card .card-title-container {
    max-width: 49%;
  }

  .home-page .news-card-square {
    padding: 25px;
  }
}

@media(max-width: 860px) {
  .home-page .full-width-card-image,
  .home-page .two-thirds-width-card-image {
    padding-bottom: 46%;
  }
}

/**
* Event Detail Page
**/

.event-detail-page .left-column h3 {
  padding-top: 0;
  padding-bottom: 30px;
  margin-top: -2px;
}

.event-detail-page .square-image {
  margin-bottom: 24px;
  margin-right: 20%;
  padding-bottom: 80%;
}

.event-detail-page .two-column-container .left-column,
.event-detail-page .two-column-container .right-column {
  padding-bottom: 0;
}

.event-detail-page .two-column-container {
  padding-left: 0;
}

/**
* Event detail page social media
**/

.event-social-media {
  padding-top: 12px;
  font-weight: 600;
  color: #999;
}

.event-social-media hr {
  padding: 0;
  margin: 10px 0;
  width: 80%;
  border-top: 1px solid #ddd;
}

.event-social-media div {
  display: inline-block;
}

.share-icon,
.marker-icon {
  margin: 0 10px 0 5px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0% 0px;
  height: 15px;
  width: 20px;
  position: relative;
  top: 3px;
}

.share-icon {
  background-image: url('{{ site.baseurl }}/assets/images/icons/share-icon-dark.svg')
}

.marker-icon {
  background-image: url('{{ site.baseurl }}/assets/images/icons/marker-icon-dark.svg')
}

.event-social-media a:hover {
  color: #000;
}

.event-social-media a:hover .share-icon {
  background-image: url('{{ site.baseurl }}/assets/images/icons/share-icon-color.svg')
}

.event-social-media a:hover .marker-icon {
  background-image: url('{{ site.baseurl }}/assets/images/icons/marker-icon-color.svg')
}

/**
* Event Tags
**/

.event-tags div,
.event-tags a {
  display: inline-block;
  color: #999;
}

.event-tags div {
  font-weight: 600;
  padding-top: 20px;
}

.event-tags a {
  font-weight: 400;
  padding-bottom: 4px;
}

.event-tags a:hover {
  color: $color;
}

/**
* About page
**/

.about-page .two-column-container .right-column {
  padding-bottom: 0;
}

.about-page .color-background {
  background-image: url({{ site.baseurl }}/assets/images/backgrounds/background-texture.svg);
  background-repeat: repeat-y;
  background-size: 62%;
  background-position: -248px;
}

.about-page .color-background .two-column-container:last-of-type {
  padding-bottom: $pad;
}

.about-page .two-column-container h3 {
  padding-top: 0;
  padding-bottom: 6px;
}

.about-page .two-column-container .small-uppercase {
  color: #000;
  padding-bottom: 10px;
}

.about-page .double-line-height .small-uppercase {
  margin-bottom: 0;
}

/**
* Methods Landing Page
**/

.what-is-dh .two-column-container p:last-of-type {
  margin-bottom: 0;
}

/**
* Guides Landing Page
**/


/**
* Projects Landing Page
**/

.projects-page .project-image-container {
  margin-bottom: 100px;
}

.projects-container .two-column-container .left-column,
.projects-container .two-column-container .right-column {
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects-container .two-column-container .left-column, {
  padding-right: 20px;
}

.projects-container .two-column-container .right-column {
  padding-left: 20px;
}

.projects-container .background-image {
  display: block;
  padding-bottom: 50%;
  border: 1px solid #ddd;
}

.projects-container .left-column .background-image {
  left: 0;
}

.projects-container .right-column .background-image {
  right: 0;
}
