---
title: Executive Committee
layout: about
order: 4
image: /assets/images/banners/sterling.jpg
caption: >
group: committee
class: about-page

---

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='About'
        title=page.title
      %}
      <p>During its early years, the Yale Digital Humanities Laboratory (DHLab) worked in partnership with a Digital Humanities Executive Committee. The committee focused on advancing digital humanities broadly at Yale and served as the advisory board for the DHLab. It played an integral role in furthering the DHLab’s work and shaping its future direction.</p>
      <p>The committee’s membership included Yale faculty, staff, and graduate students from across the University, with representatives from the humanities, the social sciences, Yale Library, and the Poorvu Center for Teaching and Learning.</p>
    </div>
  </div>

  {% include about/exec_committee_archive.html
    data = site.data.exec_committee
    title = 'Former Executive Committee'
  %}
</div>
