---
title: Executive Committee
layout: about
order: 3
image: /assets/images/banners/sterling.jpg
caption: >
group: committee
class: about-page

---

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='About'
        title=page.title
      %}
      <h2 class='subheading'>2017–2018</h2>
      <p>The Digital Humanities Executive Committee focuses on advancing digital humanities broadly at Yale. The committee serves as the advisory board for the Digital Humanities Lab. </p>
      <p><b>Amy Hungerford</b> — (Chair) Dean of Humanities, Bird White Housum Professor of English, Professor of American Studies </p>
      <p><b>Jennifer Frederick</b> — Executive Director, Yale Center for Teaching and Learning </p>
      <p><b>Alan Gerber</b> — Dean of the Social Sciences Division, Charles C. and Dorathea S. Dilley Professor of Political Science, and Professor in the Institute for Social and Policy Studies
      <p><b>Susan Gibbons</b> — University Librarian and Deputy Provost for Collections &amp; Scholarly Communication </p>
      <p><b>Jonathan Kramnick</b> — Maynard Mack Professor of English</p>
      <p><b>Stephen Krewson</b> — Graduate student, English and Computer Science </p>
      <p><b>Peter Leonard</b> — Director, Digital Humanities Laboratory </p>
      <p><b>Tina Lu</b> — Professor of East Asian Languages and Literatures</p>
      <p><b>Anna Shechtman</b> — Graduate student, English</p>
      <p><b>Laura Wexler</b> — Professor of Women's, Gender, and Sexuality Studies and Professor of American Studies</p>
    </div>
  </div>

  {% include about/exec_committee_archive.html
    data = site.data.exec_committee
    title = 'Former Executive Committee'
  %}
</div>
