---
title: Executive Committee
layout: about
order: 3
image: /assets/images/about/busa.png
caption: >
  The image shown here is kindly made available under a Creative Commons CC-BY-NC license by permission of CIRCSE Research Centre, Università Cattolica del Sacro Cuore, Milan, Italy. For further information, or to request permission for reuse, please contact Marco Passarotti, on marco.passarotti AT unicatt.it, or by post: Largo Gemelli 1, 20123 Milan, Italy.
group: committee
---

<div class='center-column'>
  <div class='two-column-container one-third-width'>
    <div class='left-column'>
      {% include about/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      <p>The 2015 founding of the Yale Digital Humanities Laboratory (DHLab) signifies the University's continued commitment to cutting-edge research and teaching in the humanities. Offering space, community, and resources for Yale faculty and students who are working with digital methods to pursue humanistic inquiries, the DHLab functions as a hub on the Yale campus for digital humanities resarch and teaching. Staff are available to help at any stage in a project, from conceptualization to implementation.</p>
      <p>Yale's roots in digital humanities undertakings date back (at least) to Father Roberto Busa's visit to our campus on September 24, 1956. Father Busa is credited with being the founder of humanities computing. His concordance of the works of Saint Thomas Aquinas is the founding example of digital humanities research. </p>
      <p>Generously funded by the Goizueta Foundation, the DHLab is committed to advancing science, technology, engineering, the arts, and mathematics (STEAM) teaching and research at Yale. In addition to facilitating cross-disciplinary collaborations on campus, the DHLab also promotes faculty and student initiatives that reach beyond the University to engage wider publics.</p>
    </div>
  </div>

    {% include text/center_section_title.html
      text='OUR TEAM'
    %}

  <div class='color-background'>
    {% assign team_members = site.team | where:'group','committee' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    {% include text/personnel_list.html items=site.data.postdoctoral_associates %}
    <div>Eleifend tellus pulvinar nunc sed metus, praesent nunc tortor, eget ante risus at eget et, pulvinar congue sociis felis imperdiet mauris. Mauris integer ligula, quis lacinia urna facilisis aliquam taciti. Quis pulvinar nunc nec incididunt cursus.</div>
  {% endcapture %}

  {% capture right_text %}
    <div>Eleifend tellus pulvinar nunc sed metus, praesent nunc tortor, eget ante risus at eget et, pulvinar congue sociis felis imperdiet mauris. Mauris integer ligula, quis lacinia urna facilisis aliquam taciti. Quis pulvinar nunc nec incididunt cursus, turpis et nullam donec amet, vivamus convallis lectus pellentesque tristique vel, venenatis mattis luctus, rutrum at quam eget. Urna vel. Imperdiet in integer felis eget ac quis. Sed donec quis sollicitudin amet, adipiscing ac justo proin orci. Commodi venenatis, lectus ligula integer mus velit nulla, commodo tempor non duis, sem quam lorem etiam vitae suscipit.</div>
    <br/>
    <div>Integer tincidunt porta, et posuere nulla maecenas sapien lectus. Nibh justo suscipit ipsam laboriosam, mauris nunc. Praesent nisl donec eius donec quam adipiscing, metus libero quis velit, sollicitudin nunc accumsan, felis dictum et dui nam senectus tellus. Habitasse ac viverra, velit ut, malesuada ut sed ac mauris eu. Est duis nec a leo natoque, curabitur pellentesque tellus vestibulum amet, pede volutpat tortor quam aliquam, dignissim eros. Magna adipiscing laoreet arcu cras nullam, accumsan luctus.</div>
  {% endcapture %}

  {% assign left_button_url = '/projects.html' | prepend: site.baseurl %}
  {% assign right_button_url = '/resources.html' | prepend: site.baseurl %}

  {% include text/half-width/two_column_text.html
    left_title = 'Former Postdoctoral Associates'
    left_text = left_text
    left_button_url = left_button_url
    left_button_label = 'View Projects'

    right_title = 'Resources'
    right_text = right_text
    right_button_url = right_button_url
    right_button_label = 'What We Offer'
  %}
</div>