---
title: DH Research Interns
layout: about
order: 2
image: /assets/images/banners/franke-projects.jpg
caption: 'Students and staff working in the Digital Humanities Lab. Photo credit: Mara Lavitt'
alt: People working at computers in the Digital Humanities Lab.
class: personnel about-page
---

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='About'
        title=page.title
      %}
      <p>Every year, the Yale Digital Humanities Lab awards internships to undergraduate and graduate students to collaborate with our team on digital humanities initiatives at and beyond Yale.</p>
    </div>
  </div>

  {% include text/center_section_title.html
    text='Fall 2020'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where: 'group','intern' | sort: 'order' %}
    {% for team_member in team_members %}
      {% unless team_member.render == false %}  
        {% include about/team_member.html team_member=team_member %}
      {% endunless %}
    {% endfor %}
  </div>

  {% include about/personnel_archive.html
    data = site.data.interns
    title = 'Former DH Interns'
  %}
</div>
