---
title: Postdoctoral Associates
layout: about
order: 1
image: /assets/images/about/sml_students.jpg
caption: >
  Photo of students sitting in front of Sterling Memorial Library, by Michael Marsland
---

<div class='center-column'>
  <div class='two-column-container one-third-width'>
    <div class='left-column'>
      {% include about/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      <p>Every year, the Digital Humanities Lab partners with academic departments on campus to support 2-3 postdoctoral associates. During their appointments, each postdoc both participates in the intellectual life of the lab and also pursues independent digital humanities research that is relevant to their discipline.</p>
      <p>Along with receiving dedicated workspace in the Digital Humanities Lab, postdoctoral associates also have the opportunity to collabroate with a faculty mentor from their home department, as well as technical staff, including a Digital Humanities Developer and User Experience Designer.</p>
    </div>
  </div>

    {% include text/center_section_title.html
      text='CURRENT POSTDOCTORAL ASSOCIATES'
    %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','postdoc' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    {% include text/personnel_list.html items=site.data.postdoctoral_associates %}
    <!---<div>Eleifend tellus pulvinar nunc sed metus, praesent nunc tortor, eget ante risus at eget et, pulvinar congue sociis felis imperdiet mauris. Mauris integer ligula, quis lacinia urna facilisis aliquam taciti. Quis pulvinar nunc nec incididunt cursus.</div><-->
  {% endcapture %}

  {% capture right_text %}
    <div>Gideon Fink Shapiro's <em>Gathering a Building</em> uses archival and original documentation to analyze the social, physical, historical, and artistic dimensions of Yale's two new residential colleges. Visit the project at <b><a href='http://gatheringabuilding.yale.edu'>Gathering a Building</a></b>. Shapiro and prominent architect Robert A.M. Stern have a co-authored book on the new colleges that will be released in late 2017.</div>
    <br/>
    <div>Jonathan Schroeder's forthcoming <em>Passages to Freedom: Worlding the North American Slave Narrative</em> maps the routes taken by the authors of autobiographical slave narratives published before 1865.</div>
  {% endcapture %}

  {% assign left_button_url = '/projects.html' | prepend: site.baseurl %}
  {% assign right_button_url = '/resources.html' | prepend: site.baseurl %}

  {% include text/half-width/two_column_text.html
    left_title = 'Former Postdoctoral Associates'
    left_text = left_text
    left_button_url = left_button_url
    left_button_label = 'View Projects'

    right_title = 'Projects Spotlight'
    right_text = right_text
    right_button_url = right_button_url
    right_button_label = 'Apply to be a Postdoc'
  %}
</div>