---
title: Postdoctoral Associates
layout: about
class: personnel
order: 1
image: /assets/images/banners/postdocs-2017.jpg
caption: >
  2017–2018 Postodoctoral Associates. Photo by Michael Marsland.
class: about-page
---

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='About'
        title=page.title
      %}

      <p>Since 2015, the Yale University Digital Humanities Lab has partnered with academic departments on campus to support 2–3 postdoctoral associates. During their appointments, each postdoc both participates in the intellectual life of the lab and also pursues independent digital humanities research that is relevant to their discipline.</p>
      
      <p>Along with receiving dedicated workspace in the Digital Humanities Lab, postdoctoral associates also have the opportunity to collabroate with a faculty mentor from their home department, as well as technical staff, including a Digital Humanities Developer and User Experience Designer.</p>
    </div>
  </div>

  {% include text/center_section_title.html
    text='2017–2018'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','postdoc' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% include about/personnel_archive.html
    data = site.data.postdoctoral_associates
    title = 'Postdoctoral Associate Alumni'
  %}
</div>