---
title: DH Teaching Fellows
layout: about
order: 2
image: /assets/images/banners/2018-DH-fellows-convo.jpg
caption: Fall 2018 Digital Humanities Teaching Fellows. Photo by Mara Lavitt.
alt: The three fall 2018 Digital Humanities Teaching Fellows discussing a project by digital screen in the newly renovated Franke Family Digital Humanities Laboratory. 
class: personnel about-page
---

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        category='About'
        title=page.title
      %}

      <p>Each semester, the Digital Humanities Lab appoints a cohort of Digital Humanities Fellows to assist with courses that have a strong digital humanities component. What that component looks like depends on the course's objectives and the Fellow's interests.</p>
      <p>During the semester, DH Fellows work closely with each other and DHLab staff to design and integrate digital humanities assignments and demonstrations into their classrooms. Prior projects include a network graph of course syllabi, an Omeka exhibition on Latin American History, and a Story Map that charts Pauli Murray's life. To apply, visit our <a href='{{ site.baseurl }}/opportunities/dh-fellows.html' target='_blank'>DH Teaching Fellows page</a> under "Opportunities."</p>
    </div>
  </div>

  {% include text/center_section_title.html
    text='2017–2018'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where: 'group','teaching_fellow' | sort: 'order' %}
    {% for team_member in team_members %}
      {% unless team_member.render == false %}  
        {% include about/team_member.html team_member=team_member %}
      {% endunless %}
    {% endfor %}
  </div>

  {% include about/personnel_archive.html
    data = site.data.teaching_fellows
    title = 'Former Teaching Fellows'
  %}
</div>