{
  'url': {{ include.item.url | jsonify }},
  'title': {{ include.item.title | strip_html | escape | jsonify }},
  'formatted_date': {{ include.item.date | date: '%B %-d, %Y' | jsonify }},
  'date': {{ include.item.date | jsonify }},
  'date_bdy': {{ include.item.date | date: '%b %-d, %Y' | jsonify }},
  'seconds': {{ include.item.date | date: '%s' | jsonify }},
  'time': {{ include.item.time | jsonify }},
  'location': {{ include.item.location | jsonify }},
  'categories': {{ include.item.categories | jsonify }},
  'registerurl': {{ include.item.registerurl | jsonify }},
  'tags': {{ include.item.tags | jsonify }},
  'teaser': {{ include.item.teaser | escape | jsonify }},
  'image': {{ include.item.image | jsonify }},
  'thumbnail': {{ include.item.thumbnail | jsonify }},
  'funded': {{ include.item.funded | jsonify }},
  'alt': {{ include.item.alt | jsonify }},
},