<% _.forEach(items, function(item) { %>
  <div class='archive-item'>
    <a href='<%= baseurl %><%= item.url %>'>
      <div class='background-image'
        style='background-image: url(<%= baseurl %><%= item.thumbnail %>);'
        alt='<%= item.alt %>'>
          <% if (item.funded) { %>
            <img src='<%= baseurl %>/assets/images/branding/dhlab-badge.svg'/>
          <% }; %>
          <div class='archive-item-date'>
            <%= item.date_bdy %>
          </div>
        </div>
      <div class='title'><%= item.title %></div>
    </a>
  </div>
<% }); %>