{% if include.header_color %}
<header class='gray-header'>
{% else %}
<header>
{% endif %}
  <a href='{{ site.baseurl }}/#'>
    <div class='site-brand'>
      <img src='{{ site.baseurl }}/assets/images/branding/DHLab-Logo.svg'>
    </div>
  </a>
  <div class='nav-links-container'>
    {% include header/navicon.html %}
    <div class='nav-links'>
      <div class='nav-links-mobile'>
        <img src='{{ site.baseurl }}/assets/images/branding/DHLab-Logo.svg'>
        <span class='close-mobile-header'>✕</span>
      </div>
      <div class='link about'>
        <a href='{{ site.baseurl }}/about.html'>About</a>
        <div class='about-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/about.html'>Yale DHLab</a>
          <a href='{{ site.baseurl }}/about.html#team'>Our Team</a>
          {% include header/header_links.html items=site.about %}
          <a class='subheader' href='{{ site.baseurl }}/resources.html'>What We Offer</a>
          {% include header/header_links.html items=site.resources %}
        </div>
      </div>
      <div class='link opportunities'>
        <a href='{{ site.baseurl }}/opportunities.html'>Opportunities</a>
        <div class='opportunities-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/awards.html'>Awards</a>
          {% include header/header_links.html items=site.awards %}
          <a class='subheader' href='{{ site.baseurl }}/opportunities.html'>Employment</a>
          {% include header/header_links.html items=site.opportunities %}
        </div>
      </div>
      <div class='link events'>
        <a href='{{ site.baseurl }}/events.html'>News & Events</a>
        <div class='events-links sublinks'>
          <a href='{{ site.baseurl }}/news.html'>Current News</a>
          <a href='{{ site.baseurl }}/events.html?q=upcoming'>Upcoming Events</a>
          <a href='{{ site.baseurl }}/events.html?q=workshops'>Workshops</a>
        </div>
      </div>
      <div class='link projects'>
        <a href='{{ site.baseurl }}/projects.html'>Projects</a>
      </div>
      <div class='link guides'>
        <a href='guides.html'>Get Started</a>
        <div class='guide-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/methods.html'>What Is DH?</a>
          {% include header/header_links.html items=site.methods %}
          <a class='subheader' href='{{ site.baseurl }}/guides.html'>How to Get Started</a>
          {% include header/header_links.html items=site.guides %}
        </div>
      </div>
      <div class='nav-links-mobile bottom'>
        <a href='{{ site.baseurl }}/resources/events.html'>Events Calendar</a>
        <a href='{{ site.baseurl }}/resources/office-hours.html'>Office Hours</a>
        <a href='https://www.google.com/maps/place/Sterling+Memorial+Library/'>Directions</a>
      </div>
    </div>
  </div>
</header>