{% if include.header_color %}
<header class='gray-header'>
{% else %}
<header>
{% endif %}
  {% include header/header_logo.html %}
  <div class='nav-links-container' role='navigation'>
    {% include header/navicon.html %}
    <div class='nav-links'>
      <div class='nav-links-mobile'>
        <span class='close-mobile-header'>✕</span>
      </div>
      <input id='mobile-search' class='mobile-search' placeholder='Search'>
      <div id='mobile-search-results' class='mobile-search-results'></div>
      <div class='link about' role='menu' aria-label='about-dropdown' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <button class='hidden link-expand-button' id='expand-about'>Show about submenu</button>
        <a href='{{ site.baseurl }}/about.html' role='menuitem' aria-label='about'>About</a>
        <div class='about-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/about.html' role='menuitem' aria-label='Yale-DHLab'>Who We Are</a>
          <a href='{{ site.baseurl }}/about.html?scrollto=team' role='menuitem' aria-label='Our-Team'>Our Team</a>
          <a href='{{ site.baseurl }}/about/past_associates.html' role='menuitem' aria-label='Past-Associates'>Past Associates</a>
          <a class='subheader' href='{{ site.baseurl }}/resources.html' role='menuitem' aria-label='Resources'>What We Offer</a>
          {% include header/header_links.html items=site.resources %}
        </div>
      </div>
      <div class='link opportunities' role='menu' aria-label='opportunities-dropdown'  aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <button class='hidden link-expand-button' id='expand-opportunities'>Show opportunities submenu</button>
        <a href='{{ site.baseurl }}/opportunities.html' role='menuitem' aria-label='opportunities'>Opportunities</a>
        <div class='opportunities-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/awards.html' role='menuitem' aria-label='awards'>Programs</a>
          {% include header/header_links.html items=site.awards %}
        </div>
      </div>
      <div class='link events' role='menu' aria-label='events-dropdown' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <button class='hidden link-expand-button' id='expand-events'>Show events submenu</button>
        <a href='{{ site.baseurl }}/events.html' role='menuitem' aria-label='news and events'>News & Events</a>
        <div class='events-links sublinks'>
          <a href='{{ site.baseurl }}/news.html' role='menuitem' aria-label='news'>Current News</a>
          <a href='{{ site.baseurl }}/events.html' role='menuitem' aria-label='events'>Upcoming Events</a>
          <a href='{{ site.baseurl }}/resources/workshops.html' role='menuitem' aria-label='workshops'>Workshops</a>
        </div>
      </div>
      <div class='link projects'>
        <a href='{{ site.baseurl }}/projects.html' role='menuitem' aria-label='projects'>Projects</a>
      </div>
      <div class='link guides' role='menu' aria-label='guides-dropdown' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <button class='hidden link-expand-button' id='expand-guides'>Show guides submenu</button>
        <a href='{{ site.baseurl }}/methods.html' role='menuitem' aria-label='get started'>Get Started</a>
        <div class='guide-links sublinks'>
          <a href='{{ site.baseurl }}/methods.html' role='menuitem' aria-label='methods'>What Is DH?</a>
          <a href='{{ site.baseurl }}/guides.html' role='menuitem' aria-label='guides'>How to Get Started</a>
          <a href='https://guides.library.yale.edu/dh/home' role='menuitem' aria-label='research guide' target='_blank'>Research Guide</a>
          <a href='{{ site.baseurl }}/contact.html' role='menuitem' aria-label='contact us'>Contact Us</a>
        </div>
      </div>
      <div class='nav-icons' >
        <a class='twitter' href='https://twitter.com/{{ site.twitter }}' aria-label='twitter' target='_blank'>Twitter</a>
        <a class='github' href='https://www.github.com/{{ site.github }}' aria-label='github' target='_blank'>GitHub</a>
        <a class='instagram' href='https://instagram.com/{{ site.instagram }}' aria-label='instagram' target='_blank'>Instagram</a>
        <a class='search' aria-label='search' href='#'>Search</a>
      </div>
      <div class='nav-links-mobile bottom'>
        <a href='{{ site.baseurl }}/events.html'>Events Calendar</a>
        <a href='https://www.google.com/maps/place/Sterling+Memorial+Library/'>Directions</a>
      </div>
    </div>
  </div>
  {% include header/header_search.html %}
</header>
