{% if include.header_color %}
<header class='gray-header'>
{% else %}
<header>
{% endif %}
  <a href='{{ site.baseurl }}/#'>
    <div class='site-brand' tabindex='0'>
      {% include header/header_logo.html %}
    </div>
  </a>
  <div class='nav-links-container' role='navigation'>
    {% include header/navicon.html %}
    <div class='nav-links'>
      <div class='nav-links-mobile'>
        <span class='close-mobile-header'>✕</span>
      </div>
      <input id='mobile-search' class='mobile-search' placeholder='Search'>
      <div id='mobile-search-results' class='mobile-search-results'></div>
      <div class='link about' role='menu' aria-label='about-dropdown' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <a href='{{ site.baseurl }}/about.html' role='menuitem' aria-label='about' tabindex='0'>About</a>
        <div class='about-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/about.html' role='menuitem' aria-label='Yale-DHLab' tabindex='0'>Yale DHLab</a>
          <a href='{{ site.baseurl }}/about.html?scrollto=team' role='menuitem' aria-label='Our-Team' tabindex='0'>Our Team</a>
          {% include header/header_links.html items=site.about %}
          <a class='subheader' href='{{ site.baseurl }}/resources.html' role='menuitem' aria-label='Resources' tabindex='0'>What We Offer</a>
          {% include header/header_links.html items=site.resources %}
        </div>
      </div>
      <div class='link opportunities' role='menu' aria-label='opportunities-dropdown'  aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <a href='{{ site.baseurl }}/opportunities.html' role='menuitem' aria-label='opportunities' tabindex='0'>Opportunities</a>
        <div class='opportunities-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/awards.html' role='menuitem' aria-label='awards' tabindex='0'>Awards</a>
          {% include header/header_links.html items=site.awards %}
          <a class='subheader' href='{{ site.baseurl }}/opportunities.html' role='menuitem' aria-label='employment' tabindex='0'>Employment</a>
          {% include header/header_links.html items=site.opportunities %}
        </div>
      </div>
      <div class='link events' role='menu' aria-label='events-dropdown' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <a href='{{ site.baseurl }}/events.html' role='menuitem' aria-label='news and events' tabindex='0'>News & Events</a>
        <div class='events-links sublinks'>
          <a href='{{ site.baseurl }}/news.html' role='menuitem' aria-label='news' tabindex='0'>Current News</a>
          <a href='{{ site.baseurl }}/events.html' role='menuitem' aria-label='events' tabindex='0'>Upcoming Events</a>
          <a href='{{ site.baseurl }}/resources/workshops.html' role='menuitem' aria-label='workshops' tabindex='0'>Workshops</a>
        </div>
      </div>
      <div class='link projects'>
        <a href='{{ site.baseurl }}/projects.html' role='menuitem' aria-label='projects' tabindex='0'>Projects</a>
      </div>
      <div class='link guides' role='menu' aria-label='guides-dropdown' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'>
        <a href='methods.html' role='menuitem' aria-label='get started' tabindex='0'>Get Started</a>
        <div class='guide-links sublinks'>
          <a class='subheader' href='{{ site.baseurl }}/methods.html' role='menuitem' aria-label='methods' tabindex='0'>What Is DH?</a>
          {% include header/header_links.html items=site.methods %}
          <a class='subheader' href='{{ site.baseurl }}/guides.html' role='menuitem' aria-label='guides' tabindex='0'>How to Get Started</a>
          {% include header/header_links.html items=site.guides %}
          <a class='subheader' href='{{ site.baseurl }}/contact.html' role='menuitem' aria-label='contact us' tabindex='0'>Contact Us</a>
        </div>
      </div>
      <div class='nav-icons' >
        <a class='twitter' href='https://twitter.com/{{ site.twitter }}' aria-label='twitter' target='_blank'>Twitter</a>
        <a class='github' href='https://www.github.com/{{ site.github }}' aria-label='github' target='_blank'>GitHub</a>
        <a class='instagram' href='https://instagram.com/{{ site.instagram }}' aria-label='instagram' target='_blank'>Instagram</a>
        <a class='search' aria-label='search'  tabindex='0'>Search</a>
      </div>
      <div class='nav-links-mobile bottom'>
        <a href='{{ site.baseurl }}/resources/events.html'>Events Calendar</a>
        <a href='{{ site.baseurl }}/resources/office-hours.html'>Office Hours</a>
        <a href='https://www.google.com/maps/place/Sterling+Memorial+Library/'>Directions</a>
      </div>
    </div>
  </div>
  {% include header/header_search.html %}
</header>