<div class='social-media-icons'>
  {%- assign url = include.page.url | prepend: site.url %}
  {%- assign title = include.page.title %}
  {%- capture share_text %}Dig this: {{ title }} -- {{ url }}{% endcapture %}
  {% assign encoded_text = share_text | url_encode %}
  <a class='social-media-icon clipboard-target' aria-label='copy URL' href='#'>
    <textarea class='clipboard-content' tabindex='-1'>{{ url }}</textarea>
    <img src='{{ site.baseurl }}/assets/images/icons/icon-link.svg' class='light-icon' alt='link icon'>
    <img src='{{ site.baseurl }}/assets/images/icons/icon-link-dark.svg' class='dark-icon' alt='link icon'>
    <div class='clipboard-notification'><b>Copied</b> {{ url }} <b>to your clipboard!</b></div>
  </a>
  <a class='social-media-icon'
      href='mailto:?to=&subject={{ title }}' aria-label='email to a friend'>
    <img src='{{ site.baseurl }}/assets/images/icons/icon-email.svg' class='light-icon' alt='email icon'>
    <img src='{{ site.baseurl }}/assets/images/icons/icon-email-dark.svg' class='dark-icon' alt='email icon'>
  </a>
  <a class='social-media-icon'
      target='_blank'
      href='https://twitter.com/intent/tweet?text={{ encoded_text }}' aria-label='share on Twitter'>
    <img src='{{ site.baseurl }}/assets/images/icons/icon-twitter.svg' class='light-icon' alt='twitter icon'>
    <img src='{{ site.baseurl }}/assets/images/icons/icon-twitter-dark.svg' class='dark-icon' alt='twitter icon'>
  </a>
</div>
