---
layout: default
class: archive-page simple-page
header_color: gray
---

{% assign projects = '' | split: '' %}
{% for item in site.projects %}
  {% if item.url != page.url %}
    {% assign shared = '' | split: '' %}
    {% for item_category in item.categories %}
      {% for page_category in page.categories %}
        {% if item_category == page_category %}
          {% assign shared = shared | push: item_category %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for item_tag in item.tags %}
      {% for page_tag in page.tags %}
        {% if item_tag == page_tag %}
          {% assign shared = shared | push: item_tag %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% assign shared_count = shared | size %}
    {% if shared_count > 2 %}
      {% assign projects = projects | push: item %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for item in site.projects %}
  {% assign found_projects = projects | size %}
  {% if found_projects < 3 %}
    {% assign projects = projects | push: item %}
  {% endif %}
{% endfor %}

{% assign bottom_items = projects | limit: 3 %}

{% include simple.html 
  page=page 
  content=content
  label='DIGITAL PROJECTS @ YALE'
  page_type='archive'
  bottom_label='FROM THE ARCHIVE' 
  bottom_items=bottom_items
%}
