---
layout: default
class: award-detail-page
---

{% assign image_url = page.image | prepend: site.baseurl %}
{% include heroes/captioned_hero.html
  label='Opportunities'
  title=page.title
  image=image_url
  caption=page.caption
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/award_left_sidebar.html page=page %}
    </div>
    <div class='right-column'>
      {{ content }}
    </div>
  </div>


</div>
