---
layout: default
class: award-detail-page
---

{% assign image_url = page.image | prepend: site.baseurl %}
{% include captioned_hero.html
  label='AWARDS'
  title=page.title
  image=image_url
  caption=page.caption
%}

<div class='center-column post'>
  <div class='two-column-container one-third-width'>
    <div class='left-column'>
    {% include text/detail_page_links.html
      items=site.awards
      page=page
    %}

    {% include text/apply_link.html page=page %}
    </div>
    <div class='right-column'>
      {{ content }}
    </div>
  </div>

  {% if page.overview == 'seed_grant' %}
    {% include awards/seed_grant_overview.html %}
  {% elsif page.application_overview == 'training_scholarship' %}
    {% include awards/training_scholarship_overview.html %}
  {% endif %}

  {% assign items = site.projects | limit: 3 %}
  {% include grids/three_spaced_squares.html
    items=items
    label='FUNDED PROJECTS'
  %}
</div>