<!DOCTYPE html>
<html lang='en'>
  <head>{% include head.html %}</head>
  <body>
    {% capture page_class %}container {{ page.class }} {{ layout.class }}{% endcapture %}
    <div class='content'>
      <div class='{{ page_class }}'>
        {% if page.header_color %}
          {% include header/header.html header_color=page.header_color %}
        {% elsif layout.header_color %}
          {% include header/header.html header_color=layout.header_color %}
        {% else %}
          {% include header/header.html %}
        {% endif %}
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script src='{{ site.baseurl }}/assets/bundle.js'></script>
  </body>
</html>