<!DOCTYPE html>
<html>
  <head>{% include head.html %}</head>
  <body>
    <div class='content'>
      {% if page.class %}
      <div class='container {{ page.class }}'>
      {% elsif layout.class %}
      <div class='container {{ layout.class }}'>
      {% else %}
      <div class='container'>
      {% endif %}
        {% if page.header_color %}
          {% include header.html header_color=page.header_color %}
        {% elsif layout.header_color %}
          {% include header.html header_color=layout.header_color %}
        {% else %}
          {% include header.html %}
        {% endif %}
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>