<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  {% capture page_class %} {{ page.class }} {{ layout.class }}{% endcapture %}
  <body class='{{ page_class }}' tabindex='-1'>
    <div class='content'>
      <div class='container'>
        {% if page.header_color %}
          {% include header/header.html header_color=page.header_color %}
        {% elsif layout.header_color %}
          {% include header/header.html header_color=layout.header_color %}
        {% else %}
          {% include header/header.html %}
        {% endif %}
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script src='{{ site.baseurl }}/assets/bundle.js?{{ site.time | date: "%s%N" }}'></script>
    {% include analytics.html %}
    <link media='(max-width: 900px)'
      href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
      rel='stylesheet'>
  </body>
</html>