---
layout: default
class: event-detail-page simple-page
---

{% assign events = '' | split: '' %}
{% for item in site.events %}
  {% if item.url != page.url %}
    {% assign shared = '' | split: '' %}
    {% for item_category in item.categories %}
      {% for page_category in page.categories %}
        {% if item_category == page_category %}
          {% assign shared = shared | push: item_category %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for item_tag in item.tags %}
      {% for page_tag in page.tags %}
        {% if item_tag == page_tag %}
          {% assign shared = shared | push: item_tag %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% assign shared_count = shared | size %}
    {% if shared_count > 2 %}
      {% assign events = events | push: item %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for item in site.events %}
  {% assign found_events = events | size %}
  {% if found_events < 3 %}
    {% assign events = events | push: item %}
  {% endif %}
{% endfor %}

{% assign bottom_items = events | limit: 3 | reverse %}

{% include simple.html 
  page=page 
  content=content
  label='EVENTS'
  page_type='events'
  bottom_label='RELATED EVENTS' 
  bottom_items=bottom_items
%}