---
layout: default
class: guide-detail-page
---

{% assign image_url = page.image | prepend: site.baseurl %}
{% include captioned_hero.html
  label='QUICK START GUIDE'
  title=page.title
  image=image_url
  caption=page.caption
%}

<div class='center-column post'>
  <div class='two-column-container one-third-width text-top'>
    <div class='left-column'>
    
    </div>
    <div class='right-column'>
      {{ content }}
    </div>
  </div>
  {% assign items = site.guides | sort: 'order' %}
  {% include grids/three_rectangle_images.html
    items=items
    skip_number=page.order
  %}

  {% include bottom_buttons_guides.html %}
</div>