---
layout: default
class: method-detail-page
---

{% assign image_url = page.image | prepend: site.baseurl %}
{% include captioned_hero.html
  label='WHAT IS DIGITAL HUMANITIES?'
  title=page.title
  image=image_url
  caption=page.caption
%}

<div class='center-column post'>
  <div class='two-column-container one-third-width text-top hide-left'>
    <div class='left-column'>
    <div class='small-uppercase'>Selected Projects</div>

    {% include text/project_page_links.html
      items = site.projects
      page = page
      project_category = page.project_category
    %}
    
    </div>
    <div class='right-column'>
      {% include text/mobile_section_title.html
        title = 'Methods'
        subtitle = page.title
      %}

      {{ content }}
    </div>
  </div>
  {% assign items = site.methods | sort: 'order' %}
  {% include grids/three_rectangle_images.html
    items = items
    skip_number = page.order
  %}

  {% include bottom_buttons_methods.html %}
</div>