---
layout: default
class: news-detail-page
---

{% if page.image_layout == 'landscape' %}
  {% assign image_url = page.image | prepend: site.baseurl %}
  {% include captioned_hero.html
    label='NEWS'
    title=page.title
    image=image_url
    caption=page.caption
  %}

  <div class='center-column'>
    <div class='two-column-container one-third-width'>
      <div class='left-column'>
      </div>
      <div class='right-column'>
      {{ content }}
      </div>
    </div>
    {% assign events = site.events | limit: 3 %}
    {% include text/three_text_blocks.html
      items=events
      label='RELATED'
    %}
  </div>
{% endif %}

{% if page.image_layout == 'simple' %}
  {% assign bottom_items = site.news | limit: 3 %}
  {% include simple.html 
    page=page 
    content=content
    label='NEWS'
    bottom_label='RELATED NEWS' 
    bottom_items=bottom_items
  %}
{% endif %}