---
layout: default
class: news-detail-page simple-page
---

{% if page.image_layout == 'simple' %}
  {% assign page_class = 'simple-page' %}
  {% assign bottom_items = site.news | limit: 3 %}
  {% include simple.html
    page=page
    content=content
    label='NEWS'
    page_type='news'
    bottom_label='RELATED NEWS'
    bottom_items=bottom_items
  %}
{% endif %}

{% if page.image_layout == 'landscape' %}
  {% assign page_class = 'news-landscape-page' %}
  {% assign image_url = page.image | prepend: site.baseurl %}
  {% include heroes/captioned_hero.html
    label='NEWS'
    title=page.title
    image=image_url
    caption=page.caption
  %}

  <div class='center-column {{ page_class }}'>
    <div class='two-column-container one-third-width top-text'>
      <div class='left-column'>
        {% include news/news_sidebar.html page=page %}
      </div>
      <div class='right-column'>
      {% include text/mobile_section_title.html
        category='NEWS'
        title=page.title
        date=page.date
      %}
      <div class='mobile'>{{ page.date | date: '%B %-d, %Y' }}</div>
      {{ content }}
      </div>
    </div>
    {% assign events = site.events | limit: 3 %}
    {% include text/three_text_blocks.html
      items=events
      label='RELATED'
    %}
  </div>
{% endif %}