---
layout: default
class: opportunity-detail-page
---

{% assign image_url = page.image | prepend: site.baseurl %}
{% include captioned_hero.html
  label='OPPORTUNITIES'
  title=page.title
  image=image_url
  caption=page.caption
%}

<div class='center-column post'>
  <div class='two-column-container one-third-width'>
    <div class='left-column'>
    {% include text/detail_page_links.html
      items=site.opportunities
      page=page
    %}

    {% include text/apply_link.html page=page %}
    </div>
    <div class='right-column'>
      {{ content }}
    </div>
  </div>
</div>