---
layout: default
class: resource-detail-page
---

{% assign image_url = page.image | prepend: site.baseurl %}
{% include captioned_hero.html
  label='RESOURCES'
  title=page.title
  image=image_url
  caption=page.caption
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
    {% include link-lists/standalone_link_list.html
      items=site.resources
      page=page
    %}
    </div>
    <div class='right-column'>
      {{ content }}
    </div>
  </div>
  {% if page.workshops %}
    <div class='resource-page-workshops'>
      {% include events/get_future_events.html category='workshop' %}
      {% include resources/workshops.html
        items=future_events
        label='Upcoming Workshops'
      %}

      {% include events/get_past_events.html category='workshop' %}
      {% include resources/workshops.html
        items=past_events
        label='Past Workshops'
      %}
    </div>
  {% endif %}
</div>