{% capture left_text %}
  <p>If you're new to digital humanities and are interested in starting a project, we welcome you to visit us in Sterling 315 during <a href='{{ site.baseurl }}/resources/office-hours.html'>office hours</a>.</p>
  <p>We also highly recommend checking out other digital humanities projects so you can look for new ideas for your own research. In particular, we recommend checking out projects by the following digital humanities centers:
    <ul>
      <li>
        <a href='https://litlab.stanford.edu/pamphlets/'>Stanford's Literary Lab</a>
      </li>
      <li>
        <a href='http://www.northeastern.edu/nulab/projects/'>Northeastern's NULab for Maps, Texts, and Networks</a>
      </li>
      <li>
        <a href='http://mith.umd.edu/'>Maryland's Institute for Tecnology in the Humanities</a>
      </li>
      <li>
        <a href='https://dhcommons.org/projects'>DHCommons Projects</a>
      </li>
    </ul>
  </p>
{% endcapture %}

{% capture right_text %}
  <p>The DHLab offers a number of <a href='{{ site.baseurl }}/awards.html'>awards</a> to support digital humanities research, and we regularly consult on digital humanities research projects during weekly <a href='{{ site.baseurl }}/resources/office-hours.html'>office hours</a>.
  </p>
  <p>In addition to on-campus resources, there are a wide range of off-campus resources that can help support digital humanities research. The following research summits all offer opportunities for researchers to continue developing their technical skills and digital projects:
    <ul>
      <li>
        <a href='http://www.dhsi.org'>Digital Humanities Summer Institute</a>
      </li>
      <li>
        <a href='http://dhtraining.org/'>Humanities Intensive Learning and Teaching</a>
      </li>
      <li>
        <a href='http://www.dhoxss.net/'>DH@Oxford</a>
      </li>
      <li>
        <a href='http://www.culingtec.uni-leipzig.de/ESU_C_T/node/97'>European Summer School in the Humanities</a>
      </li>
    </ul>
  </p>
{% endcapture %}

{% capture left_url %}{{ site.baseurl }}/methods.html{% endcapture %}
{% capture right_url %}{{ site.baseurl }}/resources.html{% endcapture %}

{% include text/half-width/two_column_text.html
  left_title='How do I get started?'
  left_text=left_text
  left_button_label='Learn More'
  left_button_url=left_url

  right_title='Resources'
  right_text=right_text
  right_button_label='What we offer'
  left_button_url=right_url
%}