{% capture left_text %}
  <p>If you're new to digital humanities and are interested in starting a project, stop by the DHLab in Sterling Memorial Library, room 316 during our Tuesday or Wednesday <a href='{{ site.baseurl }}/resources/office-hours.html'>Office Hours</a>.</p>
  <p>We also highly recommend looking at existing digital humanities projects to get a sense for what's possible. In addition to <a href='{{site.baseurl }}/projects.html' target='open_blank'>projects at Yale</a>, we recommend checking out projects at other digital humanities centers, including:
    <ul>
      <li>
        <a href='https://litlab.stanford.edu/pamphlets/'>Stanford's Literary Lab</a>
      </li>
      <li>
        <a href='http://www.northeastern.edu/nulab/projects/'>Northeastern's NULab for Maps, Texts, and Networks</a>
      </li>
      <li>
        <a href='http://mith.umd.edu/'>Maryland's Institute for Tecnology in the Humanities</a>
      </li>
      <li>
        <a href='https://dhcommons.org/projects'>DHCommons Projects</a>
      </li>
    </ul>
  </p>
{% endcapture %}

{% capture right_text %}
  <p>Along with providing consultations during our weekly <a href='{{ site.baseurl }}/resources/office-hours.html'>Office Hours</a>, the DHLab offers a number of <a href='{{ site.baseurl }}/awards.html'>awards</a> to support digital humanities research.
  </p>
  <p>In addition to on-campus support, there is also a wide range of off-campus resources that you might try. The following programs all offer opportunities for researchers to learn different digital humanities methods and theoretical approaches:
    <ul>
      <li>
        <a href='http://www.dhsi.org'>Digital Humanities Summer Institute</a>
      </li>
      <li>
        <a href='http://dhtraining.org/'>Humanities Intensive Learning and Teaching</a>
      </li>
      <li>
        <a href='http://www.dhoxss.net/'>DH@Oxford</a>
      </li>
      <li>
        <a href='http://www.culingtec.uni-leipzig.de/ESU_C_T/node/97'>European Summer School in the Humanities</a>
      </li>
    </ul>
  </p>
{% endcapture %}

{% capture left_url %} {{ site.baseurl }}/methods.html {% endcapture %}
{% capture right_url %} {{ site.baseurl }}/resources.html {% endcapture %}

{% include text/half-width/two_column_text.html
  left_title='How do I get started?'
  left_text=left_text
  left_button_label='Learn More'
  left_button_url=left_url

  right_title='Resources'
  right_text=right_text
  right_button_label='What we offer'
  right_button_url=right_url
%}