{% capture left_text %}
<p>As with most research in any field, DH projects often emerge from a productive central tension, from frustration with doing repetitive tasks by hand or struggles with wrangling vast amounts of data into something readable, to concern about the public inaccessibility of scholarship or difficulty visualizing text changes over time.</p>

<p>DH approaches can help turn tension into intervention at any stage of research development, be that as a digital materiality early in a research project when you need a virtual space to experiment with different ideas, as an intermediate tool to process data mid-project, or as a final presentation of an analog project aimed at a wide audience.</p>

<p>For help working out if and where DH can shape your work, or for questions or any other help, please <a href="https://dhlab.yale.edu/resources/consultations.html">schedule a consultation</a>.</p>
{% endcapture %}

{% capture right_text %}
<p>From consultations on project development to full partnerships on custom application design and creation, the Yale Digital Humanities Lab offers a wide range of support for DH projects, partnering with university staff, collections, and researchers of all experience levels (graduate students, undergraduates, postdocs, and faculty).</p>

<p>Looking to start a digital project but don't know where to begin? Need recommendations on tools, techniques, and best practices? Schedule an individual <a href="https://dhlab.yale.edu/resources/consultations.html">consultation</a> with one of our staff members.</p>
{% endcapture %}

{% capture left_url %} {{ site.baseurl }}/contact.html {% endcapture %}
{% capture right_url %} {{ site.baseurl }}/resources.html {% endcapture %}

{% include text/half-width/two_column_text.html
  left_title='How do I get started?'
  left_text=left_text
  left_button_label='Contact Us'
  left_button_url=left_url

  right_title='Resources'
  right_text=right_text
  right_button_label='What we offer'
  right_button_url=right_url
%}
