{% capture left_text %}
  <p>If you're new to digital humanities and are interested in starting a project, stop by the Digital Humanities Lab in Sterling Memorial Library, room 316 during our Tuesday or Wednesday <a href='{{ site.baseurl }}/resources/office-hours.html' target='_blank'>Office Hours</a>.</p>
  <p>We also highly recommend looking at existing digital humanities projects to get a sense for what's possible. In addition to <a href='{{site.baseurl }}/projects.html' target='open_blank'>projects at Yale</a>, we recommend checking out projects at other digital humanities centers, including:
    <ul>
      <li>
        <a href='https://litlab.stanford.edu/pamphlets/' target='_blank'>Stanford's Literary Lab</a>
      </li>
      <li>
        <a href='http://www.northeastern.edu/nulab/projects/' target='_blank'>Northeastern's NULab for Maps, Texts, and Networks</a>
      </li>
      <li>
        <a href='http://mith.umd.edu/' target='_blank'>Maryland's Institute for Tecnology in the Humanities</a>
      </li>
      <li>
        <a href='https://dhcommons.org/projects' target='_blank'>DHCommons Projects</a>
      </li>
    </ul>
  </p>
{% endcapture %}

{% capture right_text %}
  <p>Along with providing consultations during our weekly <a href='{{ site.baseurl }}/resources/office-hours.html' target='_blank'>Office Hours</a>, the Digital Humanities Lab offers a number of <a href='{{ site.baseurl }}/awards.html' target='_blank'>awards</a> to support digital humanities research.
  </p>
  <p>In addition to on-campus support, there are also off-campus and online resources that you might try. The following programs all offer opportunities for researchers to learn different digital humanities methods and theoretical approaches:
    <ul>
      <li>
        <a href ='{{site.baseurl}}/awards/dh-training-scholarship.html' target='_blank'>Institutes/Workshops</a>
      </li>
      <li>
        <a href='https://programminghistorian.org/' target='_blank'>The Programming Historian</a>
      </li>
      <li>
        <a href='https://www.codecademy.com/' target='_blank'>Codecademy</a>
      </li>
      <li>
        <a href='https://www.lynda.com//'>Lynda.com</a>
      </li>
    </ul>
  </p>
{% endcapture %}

{% capture left_url %} {{ site.baseurl }}/methods.html {% endcapture %}
{% capture right_url %} {{ site.baseurl }}/resources.html {% endcapture %}

{% include text/half-width/two_column_text.html
  left_title='How do I get started?'
  left_text=left_text
  left_button_label='Learn More'
  left_button_url=left_url

  right_title='Resources'
  right_text=right_text
  right_button_label='What we offer'
  right_button_url=right_url
%}