<section class='three-text-blocks'>
  <h2>{{ include.label }}</h2>
  <hr class='hide-tablet'>
  {% for item in include.items limit: 3 %} 
    {% assign url = item.url | prepend: site.baseurl %}
    <div class='block'>
      <a href='{{ url }}'>
        <h3>{{ item.title }}</h3>
      </a>
      <div class='small-uppercase'>{{ item.date | date: '%b %d' }}</div>
      <p>{{ item.content | strip_html | truncatewords: 30 }}</p>
      {% if item.status == 'fulfilled' %}
        <div class='status'>Fulfilled</div>
      {% else %}
        <a href='{{ url }}'>Learn More &raquo;</a>
      {% endif %}
    </div>
  {% endfor %}
</section>